/* ==========================================================================
   Color settings
   ========================================================================== */

/**
 * Decor yellow
 * @color
 * @section VGR Decor Colors
 */
$color-yellow: #f2a900 !default;

/**
 * Decor red
 * @color
 * @section VGR Decor Colors
 */
$color-red: #9d2235 !default;

/**
 * Decor green
 * @color
 * @section VGR Decor Colors
 */
$color-green: #4a773c !default;

/**
 * Decor blue
 * @color
 * @section VGR Decor Colors
 */
$color-blue: #006298 !default;

/**
 * Decor gray
 * @color
 * @section VGR Decor Colors
 */
$color-gray: #9ea2a2 !default;
$color-grey: #9ea2a2 !default;

/**
 * Decor yellow lighter
 * @color
 * @section VGR Decor Colors lighter tone
 */
$color-yellow-lighter: #f6c34c !default;

/**
 * Decor red lighter
 * @color
 * @section VGR Decor Colors lighter tone
 */
$color-red-lighter: #ba6471 !default;

/**
 * Decor green lighter
 * @color
 * @section VGR Decor Colors lighter tone
 */
$color-green-lighter: #80a076 !default;

/**
 * Decor blue lighter
 * @color
 * @section VGR Decor Colors lighter tone
 */
$color-blue-lighter: #4c91b7 !default;

/**
 * Decor gray lighter
 * @color
 * @section VGR Decor Colors lighter tone
 */
$color-gray-lighter: #bbbebe !default;
$color-grey-lighter: #bbbebe !default;

/**
 * Complementary Blue
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-blue: #71b2c9 !default;

/**
 * Complementary lime
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-lime: #a8ad00 !default;

/**
 * Complementary green
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-green: #008755 !default;

/**
 * Complementary beige
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-beige: #c6aa75 !default;

/**
 * Complementary red
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-red: #c8102e !default;

/**
 * Complementary purple
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-purple: #582c83 !default;

/**
 * Complementary pink
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-pink: #af1685 !default;

/**
 * Complementary orange
 * @color
 * @section VGR Complementary Colors
 */
$color-complementary-orange: #d86018 !default;
