/* ==========================================================================
   Settings Breakpoints
   ========================================================================== */

$tiny: 320px !default;
$small: 640px !default;
$medium: 768px !default;
$large: 1024px !default;
$extra-large: 1560px !default;
