/* ==========================================================================
   Settings Level
   ========================================================================== */

$level-top:     99999;
$level-1000:    10000;
$level-900:     9000;
$level-800:     8000;
$level-700:     7000;
$level-600:     6000;
$level-500:     5000;
$level-400:     4000;
$level-300:     3000;
$level-200:     2000;
$level-100:     1000;
$level-bottom:  1;
