.vgr-tabbar {

  /* Sizes */
  $list-font-size: $medium-font-size;
  $list-default-space: 1rem .75rem !default;

  /* Colors */
  $list-background: $color-white !default;
  $list-link-color: $color-gray-600 !default;

  /* Current */
  $list-current-color: $color-gray-700 !default;
  $list-current-indicator-color: $theme-focus-color;
  $list-current-border-size: .25rem !default;

  /* Active (Hover and Focus state) */
  $list-active-color: $color-black;

  background: $list-background;
  font-size: $list-font-size;

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__list-item {
    display: flex;

    .vgr-tabbar__list-link {
      color: $list-link-color;
    }

    &--current {
      box-shadow: inset 0 -5px 0 $list-current-indicator-color;

      .vgr-tabbar__list-link {
        font-weight: 700;
        color: $list-current-color;
      }
    }
  }

  &__list-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: $list-link-color;
    padding: $list-default-space;

    &:hover,
    &:focus {
      color: $list-active-color;
      text-decoration: underline;
    }
  }
}
