.vgr-tabs {

  /* Sizes */
  $vgr-tabs-list-font-size: $medium-font-size;
  $vgr-tabs-list-default-space: 1rem .75rem !default;

  /* Colors */
  $vgr-tabs-list-background: #004E7D !default;
  $vgr-tabs-list-link-color: $color-white !default;

  /* Current */
  $vgr-tabs-list-current-color: $color-white !default;
  $vgr-tabs-list-current-indicator-color: $theme-focus-color;
  $vgr-tabs-list-current-border-size: .25rem !default;

  /* Active (Hover and Focus state) */
  $vgr-tabs-list-active-color: $color-white;

  background: $vgr-tabs-list-background;
  font-size: $vgr-tabs-list-font-size;

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__list-item {
    text-align: center;
    display: flex;
    flex-grow: 1;

    .vgr-tabs__list-link {
      color: $vgr-tabs-list-link-color;
    }

    &--current {
      box-shadow: inset 0 -5px 0 $vgr-tabs-list-current-indicator-color;
      background: #06304a;

      .vgr-tabs__list-link {
        font-weight: 700;
        color: $vgr-tabs-list-current-color;
      }
    }
  }

  &__list-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: $vgr-tabs-list-link-color;
    padding: $vgr-tabs-list-default-space;

    &:hover,
    &:focus {
      color: $vgr-tabs-list-active-color;
      text-decoration: underline;
    }
  }
}
