<div class="vgr-primary-navigation">
  <div class="vgr-container">
    <nav role="navigation">
      <ul class="vgr-unstyled-list vgr-clearfix">
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link" data-selected>Link 1</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 2</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 3</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 4</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
