.vgr-centered {
  margin: 0 auto;
}

.vgr-row [class^="col-"] {
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

[class^="col-"] {
  box-sizing: border-box;
}

.col-xs-1 {
  @extend %col-xs-1;
}

.col-xs-2 {
  @extend %col-xs-2;
}

.col-xs-3 {
  @extend %col-xs-3;
}

.col-xs-4 {
  @extend %col-xs-4;
}

.col-xs-5 {
  @extend %col-xs-5;
}

.col-xs-6 {
  @extend %col-xs-6;
}

.col-xs-7 {
  @extend %col-xs-7;
}

.col-xs-8 {
  @extend %col-xs-8;
}

.col-xs-9 {
  @extend %col-xs-9;
}

.col-xs-10 {
  @extend %col-xs-10;
}

.col-xs-11 {
  @extend %col-xs-11;
}

.col-xs-12 {
  @extend %col-xs-12;
}

.col-xs-offset-1 {
  margin-left: $col-1;
}

.col-xs-offset-2 {
  margin-left: $col-2;
}

.col-xs-offset-3 {
  margin-left: $col-3;
}

.col-xs-offset-4 {
  margin-left: $col-4;
}

.col-xs-offset-5 {
  margin-left: $col-5;
}

.col-xs-offset-6 {
  margin-left: $col-6;
}

.col-xs-offset-7 {
  margin-left: $col-7;
}

.col-xs-offset-8 {
  margin-left: $col-8;
}

.col-xs-offset-9 {
  margin-left: $col-9;
}

.col-xs-offset-10 {
  margin-left: $col-10;
}

.col-xs-offset-11 {
  margin-left: $col-11;
}

.start-xs {
  text-align: start;
  justify-content: flex-start;
}

.center-xs {
  text-align: center;
  justify-content: center;
}

.end-xs {
  text-align: end;
  justify-content: flex-end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-self: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media screen and (min-width: $small) {
  .col-sm-1 {
    width: $col-1;
  }

  .col-sm-2 {
    width: $col-2;
  }

  .col-sm-3 {
    width: $col-3;
  }

  .col-sm-4 {
    width: $col-4;
  }

  .col-sm-5 {
    width: $col-5;
  }

  .col-sm-6 {
    width: $col-6;
  }

  .col-sm-7 {
    width: $col-7;
  }

  .col-sm-8 {
    width: $col-8;
  }

  .col-sm-9 {
    width: $col-9;
  }

  .col-sm-10 {
    width: $col-10;
  }

  .col-sm-11 {
    width: $col-11;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: $col-1;
  }

  .col-sm-offset-2 {
    margin-left: $col-2;
  }

  .col-sm-offset-3 {
    margin-left: $col-3;
  }

  .col-sm-offset-4 {
    margin-left: $col-4;
  }

  .col-sm-offset-5 {
    margin-left: $col-5;
  }

  .col-sm-offset-6 {
    margin-left: $col-6;
  }

  .col-sm-offset-7 {
    margin-left: $col-1;
  }

  .col-sm-offset-8 {
    margin-left: $col-8;
  }

  .col-sm-offset-9 {
    margin-left: $col-9;
  }

  .col-sm-offset-10 {
    margin-left: $col-10;
  }

  .col-sm-offset-11 {
    margin-left: $col-11;
  }

  .start-sm {
    text-align: start;
    justify-content: flex-start;
  }

  .center-sm {
    text-align: center;
    justify-content: center;
  }

  .end-sm {
    text-align: end;
    justify-content: flex-end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-self: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}

@media screen and (min-width: $medium) {
  .col-md-1 {
    width: $col-1;
  }

  .col-md-2 {
    width: $col-2;
  }

  .col-md-3 {
    width: $col-3;
  }

  .col-md-4 {
    width: $col-4;
  }

  .col-md-5 {
    width: $col-5;
  }

  .col-md-6 {
    width: $col-6;
  }

  .col-md-7 {
    width: $col-7;
  }

  .col-md-8 {
    width: $col-8;
  }

  .col-md-9 {
    width: $col-9;
  }

  .col-md-10 {
    width: $col-10;
  }

  .col-md-11 {
    width: $col-11;
  }

  .col-md-12 {
    width: $col-12;
  }

  .col-md-offset-1 {
    margin-left: $col-1;
  }

  .col-md-offset-2 {
    margin-left: $col-2;
  }

  .col-md-offset-3 {
    margin-left: $col-3;
  }

  .col-md-offset-4 {
    margin-left: $col-4;
  }

  .col-md-offset-5 {
    margin-left: $col-5;
  }

  .col-md-offset-6 {
    margin-left: $col-6;
  }

  .col-md-offset-7 {
    margin-left: $col-1;
  }

  .col-md-offset-8 {
    margin-left: $col-8;
  }

  .col-md-offset-9 {
    margin-left: $col-9;
  }

  .col-md-offset-10 {
    margin-left: $col-10;
  }

  .col-md-offset-11 {
    margin-left: $col-11;
  }

  .start-md {
    text-align: start;
    justify-content: flex-start;
  }

  .center-md {
    text-align: center;
    justify-content: center;
  }

  .end-md {
    text-align: end;
    justify-content: flex-end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-self: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}

@media screen and (min-width: $large) {
  .col-lg-1 {
    width: $col-1;
  }

  .col-lg-2 {
    width: $col-2;
  }

  .col-lg-3 {
    width: $col-3;
  }

  .col-lg-4 {
    width: $col-4;
  }

  .col-lg-5 {
    width: $col-5;
  }

  .col-lg-6 {
    width: $col-6;
  }

  .col-lg-7 {
    width: $col-1;
  }

  .col-lg-8 {
    width: $col-8;
  }

  .col-lg-9 {
    width: $col-9;
  }

  .col-lg-10 {
    width: $col-10;
  }

  .col-lg-11 {
    width: $col-11;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: $col-1;
  }

  .col-lg-offset-2 {
    margin-left: $col-2;
  }

  .col-lg-offset-3 {
    margin-left: $col-3;
  }

  .col-lg-offset-4 {
    margin-left: $col-4;
  }

  .col-lg-offset-5 {
    margin-left: $col-5;
  }

  .col-lg-offset-6 {
    margin-left: $col-6;
  }

  .col-lg-offset-7 {
    margin-left: $col-1;
  }

  .col-lg-offset-8 {
    margin-left: $col-8;
  }

  .col-lg-offset-9 {
    margin-left: $col-9;
  }

  .col-lg-offset-10 {
    margin-left: $col-10;
  }

  .col-lg-offset-11 {
    margin-left: $col-11;
  }

  .start-lg {
    text-align: start;
    justify-content: flex-start;
  }

  .center-lg {
    text-align: center;
    justify-content: center;
  }

  .end-lg {
    text-align: end;
    justify-content: flex-end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-self: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}

/* Helper Classes */

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}
