/* ==========================================================================
   Objects - Headings
   ========================================================================== */

.vgr-heading {
  &--main {

  }
  &--secondary {

  }
  &--medium {

  }
  &--small {

  }
  &--bump {

  }
  &--body {

  }
}

.block__heading {
  margin: 0;
  font-size: 1.2rem;
  margin-left: 30px;
}
