.vgr-search-card {
  margin-bottom: .625rem;
  padding: 1rem .75rem;
  background: $color-white;

  $headline-size: 1.125rem;
  $meta-size: 14px;
  $meta-color: #0c6725;
  $excerpt-size: 14px;

  [aria-expanded=true] {
    display: block;
  }

  [aria-expanded=false] {
    display: none;
  }

  &--panel {
    box-shadow: 0 1px 3px rgba($color-black, .2);
  }

  &__folded {
    display: none;
    padding-top: 1rem; //.625rem;
    border-top: 1px solid $color-gray-lighter;
  }

  &__headline {
    margin: 0;
    padding: 5px 0 0 0;
    font-weight: 100;
    font-size: $large-font-size;
    line-height: 140%;

    &--white {
      color: #fff;

      a:link,
      a:focus,
      a:visited {
        color: #fff;
      }
    }
  }

  &__image-holder {
    position: relative;
    float: left;
    margin: .5rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  &__image {
    width: 3.75rem;
    height: 3.75rem;
  }

  &__status {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 1rem;
    height: 1rem;
  }

  &__date {
    color: $meta-color;
    font-size: $meta-size;
  }

  &__source {
    display: inline;
    color: $meta-color;
    font-size: $meta-size;
  }

  &__excerpt {
    margin: 0;
    font-size: $excerpt-size;
  }

  &__meta {
    margin: 0;
    font-size: $meta-size;
    line-height: 140%;
  }
}

.vgr-search-card__header {
  width: calc(100% + 1.5rem);
  background: #004E7D;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .05);
  color: #fff;

  &--photo {
    margin: -1rem -.75rem 0;
  }
}

.vgr-search-card--bestbet {
  .vgr-search-card__header {
    background: #004674;
    color: #fff;

    a {
      color: inherit;
    }
  }
}

.vgr-search-card__information {
  margin-top: 1rem; //.625rem;

  &[aria-hidden="true"] {
    display: none;
  }
}

.vgr-detail-list {
  display: table;
  margin: 0;
  width: 100%;
  font-size: 14px;

  &--bottom-border {
    border-bottom: 1px solid $color-gray-lighter;
  }

  &__title {
    color: #727272;
  }

  &__item {
    margin-left: 0;

    &--margin-bottom {
      line-height: 60px;
    }
  }

  &__label {
    padding-right: 10px;
    color: #000;
    font-weight: 700;
  }

  &__link {
    color: #3796d7;
    text-decoration: none;
  }

  &__group {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-bottom: 0.1em;
  }

  @media screen and (min-width: $small) {
    &__item {
      display: table-row;
    }

    &__label {
      display: table-cell;
      width: 130px;
    }

    &__group {}
  }
}

.vgr-link-list {
  font-size: 14px;

  &__heading {
    // margin: .5rem 0 0;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
    border-top: 1px solid $color-gray-lighter;
    color: #727272;
    font-size: 14px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  &__link {
    display: block;
    padding: 10px;
    border: 1px solid #e3e3e3;
    background: #f6f6f6;
    line-height: 1;
  }
}

.vgr-search-card__map {
  margin: 0 -.75rem;
}

.vgr-toggle-content {
  // overflow: scroll;
  // margin-top: .5rem;
  // margin-right: -.75rem;
  // margin-left: -.75rem;
  // padding-right: .75rem;
  // padding-left: .75rem;
  // max-width: 100vw;
  // border-width: 0;
  // border-style: solid;
  // border-color: #d8d8d8;
  // border-top-width: 1px;
  // border-bottom-width: 1px;
  // -webkit-overflow-scrolling: touch;
  // padding-bottom: 2rem;
  // background: red;

  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

  &__container {
    padding: 0px;
    padding-top: 0.5rem;
    // margin-bottom: 1rem;
    white-space: nowrap;
    display: none;

    [aria-expanded=true] {
      display: block;
    }

    [aria-expanded=false] {
      display: none;
    }
  }

  &__list {
    padding: 0px;
    // margin-bottom: 1rem;
    white-space: nowrap;

    &--margin-top {
      margin-top: 1rem;
    }
  }

  &__item {
    display: block;
    background: #fff;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;

    b {
      display: block;
    }
  }

  .vgr-link-list__heading {
    cursor: pointer;

    &:hover,
    &:focus {
      // background: #efefef;
      text-decoration: underline;
    }

    &[data-expanded] {
      svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  svg {
    margin: 0 10px 2px 0;
  }
}

.vgr-search-card__expand-button {
  display: block;
  margin: .75rem -.75rem -1rem;
  padding: 1rem;
  width: calc(100% + 1.5rem);
  border: 0;
  background: #EBEBEB;
  color: #5B5B5B;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  transition: background .1s ease-in-out;

  svg {
    margin-right: .5rem;
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    background: #efefef;
    text-decoration: underline;
  }

  &__open-label {
    display: inline;
  }

  &__close-label {
    display: none;
  }
}

.vgr-search-card__folded[aria-expanded="true"]+.vgr-search-card__expand-button .vgr-search-card__expand-button__open-label {
  display: none;
}

.vgr-search-card__folded[aria-expanded="true"]+.vgr-search-card__expand-button .vgr-search-card__expand-button__close-label {
  display: inline;
}

.vgr-search-card__folded[aria-expanded="true"]+.vgr-search-card__expand-button svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
