{% set isRoot = true %}
{% set title = "Styleguide" %}
{% set mainPage = "frontpage" %}

{% extends "_templates/frontpage.html" %}
{% block content %}

	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="{{ baseurl }}/getting-started">Accessibility</a></h2>
			<p>Accessibility is a first class concern and as such each component within the framework has been carefully crafted to be fully accessible to keyboard and screenreaders.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">För beställare</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">For designers</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">For developers</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="http://vastra-gotalandsregionen.github.io/vgr-styleguide/guidelines/prestandabudget/">Prestandabudget</a></h2>
			<p>Bäckasiner små...</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">Compatibility</a></h2>
			<p>VGR Base was designed for and tested on the most used browsers and devices. See <a href="{{ baseurl }}/getting-started/compatibility/">the rundown</a> on what's tested, and what to do if something misbehaves.</p>
		</div>
	</div>


{% endblock %}
