{% from "_templates/icon-template.nunjucks" import icon %}
{% from "_templates/button-template.nunjucks" import button %}

{% set isRoot = true %}
{% set title = "Styleguide" %}
{% set mainPage = "frontpage" %}

{% extends "_templates/frontpage.html" %}
{% block content %}

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="card">
				<div class="card__generic-body">
					<div class="card__inner-row">
						<div class="card__header">
							<h2 class="card__heading">{{ icon("accessible") }} Tillgänglighet</h2>
						</div>
						<p>Accessibility is a first class concern and as such each component within the framework has been carefully crafted to be fully accessible to keyboard and screenreaders.</p>
						<a href="{{ baseurl }}/guidelines/accessibility/" class="vgr-button">Tillgänglighet</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="card">
				<div class="card__generic-body">
					<div class="card__inner-row">
						<div class="card__header">
							<h2 class="card__heading">{{ icon("ic_query_builder") }} Prestandabudget</h2>
						</div>
						<p>Krav på gränssnittskod, tillgänglighet och hur snabbt en webbplats ska ladda in hos en användare.</p>
						<a href="{{ baseurl }}/guidelines/prestandabudget/" class="vgr-button">Prestandabudget</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="card">
				<div class="card__generic-body">
					<div class="card__inner-row">
						<div class="card__header">
							<h2 class="card__heading">{{ icon("ic_done") }} Kompatibilitet</h2>
						</div>
						<p>Stylguiden är utvecklad och testad i de vanligen mest förekommande webbläsarna och enheterna. Se hur vi testat.</p>
						<a href="{{ baseurl }}/getting-started/compatibility/" class="vgr-button">Se kompatibilitet</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="card">
				<div class="card__generic-body">
					<div class="card__inner-row">
						<div class="card__header">
							<h2 class="card__heading">{{ icon("ic_build") }} För utvecklare</h2>
						</div>
						<p>The style-guide consists both of guidelines and code samples for you as a frontend developer.</p>
						<a href="{{ baseurl }}/" class="vgr-button vgr-button--inactive">For developers</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="card">
				<div class="card__generic-body">
					<div class="card__inner-row">
						<div class="card__header">
							<h2 class="card__heading">{{ icon("ic_palette") }} För formgivare</h2>
						</div>
						<p>Guidelines regarding designers contributions to the style-guide and the pattern library.</p>
						<a href="{{ baseurl }}/" class="vgr-button vgr-button--inactive">För formgivare</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="card">
				<div class="card__generic-body">
					<div class="card__inner-row">
						<div class="card__header">
							<h2 class="card__heading">{{ icon("ic_content_paste") }} För beställare</h2>
						</div>
						<p>Instruktioner för dig som beställare, eller projektledare, där ni kommer ta fram eller påverka en webbplats.</p>
						<a href="{{ baseurl }}/" class="vgr-button vgr-button--inactive">För beställare</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
