{% set isRoot = true %}
{% set title = "Styleguide" %}
{% set mainPage = "frontpage" %}

{% extends "_templates/frontpage.html" %}
{% block content %}

	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/getting-started">Accessibility</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">För beställare</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">For designers</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">For developers</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/guidelines/prestandabudget/">Prestandabuget</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2><a href="/">Compatibility</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit a magna at rhoncus.</p>
		</div>
	</div>


{% endblock %}
