{% set title = "Typography" %}
{% set mainPage = "base" %}
{% set subPage = "typography" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Typograpy <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/elements/_typography.scss" class="sg-file">_typography.scss</a></h1>

	<p>The default font size is set to 100% of the browser style sheet, usually 16 pixels. This ensures compatibility with browser-based text zoom or user-set defaults.</p>

	<h2>Primary typeface</h2>
	<p>Should be used for all body copy</p>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Font</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Times New Roman, Georgia, serif</td>
			</tr>
		</tbody>
	</table>

	<h2>Secondary typeface</h2>
	<p>Should be used for all headlines</p>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Font</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Helvetica, Arial, sans-serif</td>
			</tr>
		</tbody>
	</table>


	<h1>Typography examples</h1>


	<h2 class="sg-header-2">Paragraphs</h2>

	<div class="sg-section">

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis ipsum neque, tincidunt tristique nunc imperdiet vel. Maecenas elementum cursus nisl, id tristique elit eleifend sed. Praesent varius lectus vel hendrerit pellentesque. Donec fermentum purus augue, sed vehicula sem imperdiet ac. Pellentesque placerat dolor quis elementum blandit. Nunc quis placerat nunc. Quisque commodo tortor ut augue volutpat, in rhoncus tellus laoreet. Pellentesque ornare lacinia libero at hendrerit. Nullam quis tellus tincidunt, tristique ante ac, interdum urna.</p>
		<p>Morbi augue massa, tristique non imperdiet et, ornare ut velit. Sed placerat lacus id ipsum mattis, id placerat urna semper. Sed porta quam rutrum metus venenatis molestie. Morbi sed faucibus velit, et pulvinar tellus. Praesent laoreet mauris sed porta facilisis. In hac habitasse platea dictumst. In mattis, mi vitae interdum pellentesque, orci metus volutpat dolor, id malesuada dolor dui in mi. Fusce pharetra varius nisl vitae lobortis. Nunc mi lacus, luctus non ante in, scelerisque interdum urna. Etiam velit augue, porttitor ut finibus a, gravida quis metus.</p>

	</div>

	<h2 class="sg-header-2">Introduction</h2>

	<div class="sg-section">

		<div class="lead">
			<p>Aenean tellus sapien, tempor sit amet condimentum eget, mattis at tortor. Nulla eleifend interdum varius. Duis luctus metus at varius commodo. Fusce ex lacus, maximus sed elit sit amet, accumsan facilisis justo. Cras laoreet ex pellentesque magna tincidunt porttitor. Duis mollis tincidunt dignissim.</p>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis ipsum neque, tincidunt tristique nunc imperdiet vel. Maecenas elementum cursus nisl, id tristique elit eleifend sed. Praesent varius lectus vel hendrerit pellentesque. Donec fermentum purus augue, sed vehicula sem imperdiet ac. Pellentesque placerat dolor quis elementum blandit. Nunc quis placerat nunc. Quisque commodo tortor ut augue volutpat, in rhoncus tellus laoreet. Pellentesque ornare lacinia libero at hendrerit. Nullam quis tellus tincidunt, tristique ante ac, interdum urna.</p>

	</div>

	<h2 class="sg-header-2">Dividers</h2>

	<p class="sg-description">Use dividers to define thematic breaks between paragraphs.</p>

	<div class="sg-section">
		<p>Nunc tincidunt justo lectus, at varius nunc interdum at. Aliquam a molestie sapien, id hendrerit nunc. In et venenatis nulla. Etiam vestibulum, magna et euismod sollicitudin, elit lectus vestibulum augue, sed finibus mauris sem in tellus. Nunc ullamcorper lorem orci, sit amet euismod nibh sagittis sed.</p>
		<hr>
		<p>Nunc tincidunt justo lectus, at varius nunc interdum at. Aliquam a molestie sapien, id hendrerit nunc. In et venenatis nulla. Etiam vestibulum, magna et euismod sollicitudin, elit lectus vestibulum augue, sed finibus mauris sem in tellus. Nunc ullamcorper lorem orci, sit amet euismod nibh sagittis sed.</p>

	</div>

	<h2 class="sg-header-2">Abbreviations</h2>

	<p class="sg-description">Use the <code class="sg-code">&lt;abbr&gt;</code> element to annotate a shortened term. Abbreviations must always have a <code class="sg-code">title</code> attribute which describes the full term.</p>

	<div class="sg-section">
		<p>Nunc tincidunt justo lectus, <abbr title="HyperText Markup Language">HTML</abbr> aliquam a molestie sapien, id hendrerit nunc.</p>

	</div>


	<h2 class="sg-header-2">Headlines</h2>

	<div class="sg-section">

		<h1>Heading Level 1</h1>
		<h2>Heading Level 2</h2>
		<h3>Heading Level 3</h3>
		<h4>Heading Level 4</h4>
		<h5>Heading Level 5</h5>
		<h6>Heading Level 6</h6>

	</div>

	<h2 class="sg-header-2">Linked headlines</h2>

	<div class="sg-section">

		<h1><a href="/">Heading Level 1</a></h1>
		<h2><a href="/">Heading Level 2</a></h2>
		<h3><a href="/">Heading Level 3</a></h3>
		<h4><a href="/">Heading Level 4</a></h4>
		<h5><a href="/">Heading Level 5</a></h5>
		<h6><a href="/">Heading Level 6</a></h6>

	</div>

	<h2 class="sg-header-2">Inline Elements</h2>

	<p>There isn't any style applied to <code class="sg-code">b</code>, <code class="sg-code">i</code>, <code class="sg-code">u</code> since there aren't any real use cases for it. If you have a use case and need it, please add your own style for it.</p>

	<div class="sg-section">

		<p><strong>Strong is used to indicate strong importance</strong></p>
		<p><em>This text has added emphasis</em></p>
		<p><del>This text is deleted</del></p>
		<p><ins>This text is inserted</ins></p>
		<p><s>This text has a strikethrough</s></p>
		<p>Superscript<sup>®</sup></p>
		<p>Subscript for things like H<sub>2</sub>O</p>
		<p><small>This small text is small for for fine print, etc.</small></p>
		<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
		<p>Keybord input: <kbd>Cmd</kbd></p>
		<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
		<p><cite>This is a citation</cite>
		</p><p>The <dfn>dfn element</dfn> indicates a definition.</p>
		<p>The <mark>mark element</mark> indicates a highlight</p>
		<p><code>This is what inline code looks like.</code></p>
		<p><samp>This is sample output from a computer program</samp></p>
		<p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>

	</div>

	<h2 class="sg-header-2">Time</h2>

	<div class="sg-section">

		<time datetime="2013-04-06T12:32+00:00">2 weeks ago</time>

	</div>

		<h2 class="sg-header-2">Preformated text</h2>

		<div class="sg-section">

<pre>
P R E F O R M A T T E D T E X T
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~
</pre>

		</div>


	<h2 class="sg-header-2">Links</h2>

	<p>To make links screen reader-friendly, avoid using vague words like "here" or "read more" within link text. The text of the link itself should adequately describe where the link goes.</p>

	<div class="sg-section">

		<p>An <a href="/" class="prototype-random">unvisited link</a> and a <a href="">visited link</a>.</p>
		<p>An <a href="/" class="prototype-random" target="_blank">external link</a> and another <a href="/" class="prototype-random" target="_blank" aria-label="opens in a new window">external link</a>.</p>
		<p>A <a href="temp/test.pdf">link to a PDF</a>.</p>

	</div>

	<!-- Generate random link for this Styleguide -->
	<script>
		var elements = document.querySelectorAll('.prototype-random');
		Array.prototype.forEach.call(elements, function(el) {
			el.setAttribute('href', '?=' + (new Date().getTime()));
		});
	</script>

{% endblock %}
