.vgr-header-search {
  padding: 1rem 0;
  background: #005B97;
}
.vgr-search-information {
  padding: 0 .75rem;
}

.vgr-search-information p,
.vgr-search-results p { font-family: $secondary-font-stack; }
