{% block main %}
  {% render '@skip-link' %}
  <!-- {% render "@navbar" %} -->

  <header role="banner">
    <div class="vgr-header-search">
      <div class="vgr-container">
        <div class="vgr-row">
          <div class="col-xs-12 col-md-10 col-lg-8 vgr-centered">
            {% render "@logo--svg--white" %}
            {% render "@search-bar" %}
            <nav class="vgr-search-utilities">
              <ul class="vgr-search-utilities__list vgr-unstyled-list">
                <li class="vgr-search-utilities__item">
                  <a href="/" class="vgr-search-utilities__link">Hjälp</a>
                </li>
                  <li class="vgr-search-utilities__item vgr-search-utilities__item--current">
                    <a href="/" class="vgr-search-utilities__link" aria-current="page">Sparade sökningar</a>
                  </li>
                <li class="vgr-search-utilities__item">
                  <a href="/" class="vgr-search-utilities__link">Synpunkter</a>
                </li>
                <li class="vgr-search-utilities__item">
                  <a href="/" class="vgr-search-utilities__link">Sponsra en sida</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% render "@tabs", tabList %}

  <main id="main-container" role="main">
    <div class="vgr-container">
      <div class="vgr-row">
        <div class="col-md-10 col-lg-8 vgr-centered">
          <div class="vgr-search-information">
            <p>Ungefär {{ searchItems }} resultat</p>
            <p>Menade du <a href="/">{{ didYouMean }}</a></p>
          </div>
          <ul class="vgr-search-results vgr-unstyled-list">
            {% for item in person %}
              <li class="vgr-search-results__item">
                {% render "@search-card--person" %}
              </li>
            {% endfor %}
            {% for item in searchResults %}
              <li class="vgr-search-results__item">
                {% render "@search-card--panel", item.resultList %}
              </li>
            {% endfor %}
          </ul>
          {% render "@standard-pagination" %}
        </div>
      </div>
    </div>
  </main>

{% endblock %}
