{% set title = "Forms" %}
{% set mainPage = "base" %}
{% set subPage = "forms" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Forms</h1>

	<p>Keep forms as simple as possible – only ask what's needed to run your service.</p>

	<div class="container">

		<form class="vgr-forms row">
			<fieldset>
				<div class="col-xs-12 col-md-6">
					<label class="vgr-label" for="firstname-1">Input Field</label>
					<input class="vgr-input" id="firstname-1" type="text">
				</div>
			</fieldset>
		</form>

		<form class="vgr-forms row">
			<fieldset>
				<legend>Standardformulär</legend>
				<div class="vgr-forms__item col-xs-12 col-sm-6">
					<label class="vgr-label" for="firstname-1">Förnamn</label>
					<input class="vgr-input" id="firstname-1" type="text">
				</div>
				<div class="col-xs-12 col-sm-6">
					<label class="vgr-label" for="lastname-1">Efternamn</label>
					<input class="vgr-input" id="lastname-1" type="text">
				</div>
				<div class="col-xs-12 col-sm-6">
					<label class="vgr-label" for="lastname-1">Efternamn</label>
					<input class="vgr-input" id="lastname-1" type="text">
				</div>
				<div class="col-xs-12 col-md-6">
					<label class="vgr-label" for="area">Födelsedatum</label>
					<select class="vgr-select" id="area" name="area" type="text">
						<option value=""></option>
						<option value="12">2010</option>
					</select>
				</div>
			</fieldset>
		</form>
	</div>


{% endblock %}
