{% set baseurl = "http://localhost:3000" %}
{% include "_templates/partials/head.html" %}
{% include "_templates/partials/header.html" %}

	<main class="sg-main" id="main" role="main">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-md-4 col-lg-3">
					<nav class="sg-sidebar-navigation" role="navigation">
						<div>
							<h2 class="sg-sidebar-navigation__label">Getting started</h2>
							<ul>
								<li><a href="{{ baseurl }}/getting-started/installation" {{ "data-active" if subPage == 'installation' }}>Installation</a></li>
								<li><a href="{{ baseurl }}/getting-started/starter-project" {{ "data-active" if subPage == 'starter-project' }}>Starter Project</a></li>
								<li><a href="{{ baseurl }}/getting-started/design-principles" {{ "data-active" if subPage == 'design-principles' }}>Design Principles</a></li>
								<li><a href="{{ baseurl }}/getting-started/compatibility" {{ "data-active" if subPage == 'compatibility' }}>Compatibility</a></li>
							</ul>
						</div>
					</nav>
				</div>

				<article class="col-xs-12 col-md-8 col-lg-9" role="article">

					{% block content %} {% endblock %}

				</article>

			</div>
		</div>
	</main>

	{% include "_templates/partials/footer.html" %}

</body>
</html>
