{% set baseurl = "http://localhost:3000" %}

{% include "_templates/partials/head.html" %}
{% include "_templates/partials/header.html" %}

	<main class="sg-main" id="main" role="main">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-md-4 col-lg-3">
					<nav class="sg-sidebar-navigation" role="navigation">
						<div>
							<h2 class="sg-sidebar-navigation__label">Base</h2>
							<ul>
								<li><a href="{{ baseurl }}/base/variables" {{ "data-active" if subPage == 'variables' }}>Variables</a></li>
								<li><a href="{{ baseurl }}/base/mixins" {{ "data-active" if subPage == 'mixins' }}>Mixins</a></li>
								<li><a href="{{ baseurl }}/base/reset" {{ "data-active" if subPage == 'reset' }}>Reset</a></li>
								<li><a href="{{ baseurl }}/base/colors" {{ "data-active" if subPage == 'colors' }}>Colors</a></li>
								<li><a href="{{ baseurl }}/base/themes" {{ "data-active" if subPage == 'themes' }}>Themes</a></li>
								<li><a href="{{ baseurl }}/base/print" {{ "data-active" if subPage == 'print' }}>Print</a></li>
							</ul>
							<h2 class="sg-sidebar-navigation__label">Elements</h2>
							<ul>
								<li><a href="{{ baseurl }}/base/typography" {{ "data-active" if subPage == 'typography' }}>Typography</a></li>
								<li><a href="{{ baseurl }}/base/links" {{ "data-active" if subPage == 'links' }}>Links</a></li>
								<li><a href="{{ baseurl }}/base/lists" {{ "data-active" if subPage == 'lists' }}>Lists</a></li>
								<li><a href="{{ baseurl }}/base/quotes" {{ "data-active" if subPage == 'quotes' }}>Quotes</a></li>
							</ul>
							<h2 class="sg-sidebar-navigation__label">Objects</h2>
							<ul>
								<li><a href="{{ baseurl }}/base/icons" {{ "data-active" if subPage == 'icons' }}>Icons</a></li>
								<li><a href="{{ baseurl }}/base/media" {{ "data-active" if subPage == 'media' }}>Media</a></li>
								<li><a href="{{ baseurl }}/base/tables" {{ "data-active" if subPage == 'tables' }}>Tables</a></li>
								<li><a href="{{ baseurl }}/base/forms" {{ "data-active" if subPage == 'forms' }}>Forms</a></li>
								<li><a href="{{ baseurl }}/base/buttons" {{ "data-active" if subPage == 'buttons' }}>Buttons</a></li>
								<li><a href="{{ baseurl }}/base/badges" {{ "data-active" if subPage == 'badges' }}>Badges</a></li>
								<li><a href="{{ baseurl }}/base/messages" {{ "data-active" if subPage == 'messages' }}>Messages</a></li>
							</ul>
							<h2 class="sg-sidebar-navigation__label">Layout</h2>
							<ul>
								<li><a href="{{ baseurl }}/base/grid" {{ "data-active" if subPage == 'grid' }}>Grid</a></li>
								<li><a href="{{ baseurl }}/base/predefined-layouts" {{ "data-active" if subPage == 'predefined-layouts' }}>Predefined Layouts</a></li>
							</ul>
							<h2 class="sg-sidebar-navigation__label">Trumps</h2>
							<ul>
								<li><a href="{{ baseurl }}/base/helper-classes" {{ "data-active" if subPage == 'helper-classes' }}>Helper Classes</a></li>
							</ul>
						</div>
					</nav>
				</div>

				<article class="col-xs-12 col-md-8 col-lg-9" role="article">

					{% block content %} {% endblock %}

				</article>

			</div>
		</div>
	</main>

	{% include "_templates/partials/footer.html" %}

</body>
</html>
