{% set baseurl = "http://localhost:3000" %}
{% include "_templates/partials/head.html" %}
{% include "_templates/partials/header.html" %}

	<main class="sg-main" id="main" role="main">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-md-4 col-lg-3">
					<nav class="sg-sidebar-navigation" role="navigation">
						<div>
							<h2 class="sg-sidebar-navigation__label">Base Components</h2>
							<ul>
								<li><a href="{{ baseurl }}/components/header" {{ "data-active" if subPage == 'header' }}>Header</a></li>
								<li><a href="{{ baseurl }}/components/footer" {{ "data-active" if subPage == 'footer' }}>Footer</a></li>
								<li><a href="{{ baseurl }}/components/standard-block" {{ "data-active" if subPage == 'standard-block' }}>Standard Block</a></li>
								<li><a href="{{ baseurl }}/components/breadcrumbs" {{ "data-active" if subPage == 'breadcrumbs' }}>Breadcrumbs</a></li>
								<li><a href="{{ baseurl }}/components/pagination" {{ "data-active" if subPage == 'pagination' }}>Pagination</a></li>
								<li><a href="{{ baseurl }}/components/search" {{ "data-active" if subPage == 'search' }}>Search</a></li>
							</ul>
						</div>
					</nav>
				</div>

				<article class="col-xs-12 col-md-8 col-lg-9" role="article">

					{% block content %} {% endblock %}

				</article>

			</div>
		</div>
	</main>

	{% include "_templates/partials/footer.html" %}

</body>
</html>
