{% set baseurl = "http://localhost:3000" %}
{% include "_templates/partials/head.html" %}
{% include "_templates/partials/header.html" %}

	<div class="sg-billboard">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="sg-billboard__introduction">
						<h1 class="sg-billboard__headline">Web Standards &amp; Styleguide for Västra Götalands&shy;regionen</h1>
						<p class="sg-billboard__lead">Guidelines and collections of open source UI components and visual identify to create consistency and beautiful user experiences across Västra Götalands&shy;regionen's websites.</p>
						<a href="/getting-started" class="vgr-button sg-billboard__button">Get started</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<main class="sg-main" id="main" role="main">
		<div class="container">
			<div class="row">

				<article class="col-xs-12" role="article">

					{% block content %} {% endblock %}

				</article>

			</div>
		</div>
	</main>

	{% include "_templates/partials/footer.html" %}

</body>
</html>
