{% set title = "Compatibility" %}
{% set mainPage = "getting-started" %}
{% set subPage = "compatibility" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "getting-started/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Compatibility</h1>
	<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em> A final testing round needs to be done and the chart must be updated.</p>

	<table class="vgr-table  vgr-table--zebra vgr-table--bordered">
		<caption>Table caption</caption>
		<thead>
			<tr>
				<th scope="col">Browser</th>
				<th scope="col">Grid</th>
				<th scope="col">Style</th>
				<th scope="col">JavaScript</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Chrome</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Firefox</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Safari</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Edge</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Internet Explorer 11</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Internet Explorer 10</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Internet Explorer 9</td>
				<td><span class="sg-no">✗</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Internet Explorer 8</td>
				<td><span class="sg-no">✗</span></td>
				<td><span class="sg-no">✗</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Safari/iOS (iPad)</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Safari/iOS (iPhone)</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Android 4 (Phone)</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
			<tr>
				<td>Android 4 (Tablet)</td>
				<td><span class="sg-ok">✓</span></td>
				<td><span class="sg-ok">✓</span></td>
				<td></td>
			</tr>
		</tbody>
	</table>

{% endblock %}
