<footer class="sg-footer" role="contentinfo">
	<ul class="sg-footer__navigation">
		<li><a href="https://github.com/Vastra-Gotalandsregionen/vgr-base">GitHub</a></li>
		<li><a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/issues">Issues</a></li>
		<li><a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/CHANGELOG.md">Changelog</a></li>
	</ul>
	<p class="sg-footer__description">Maintained by Västra Götalands&shy;regionen with the help of our contributors. Currently in 1.0.0-alpha.<br> All content is available under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> except where otherwise stated.</p>
</footer>
