<div class="sg-alpha-message">
	<p><em class="sg-badge-alpha">Pre-release</em> This is a new service – your <a href="{{ baseurl }}/feedback">feedback</a> will help us to improve it.</p>
</div>

<div class="sg-topbar">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-6">
				<a href="{{ baseurl }}/" class="sg-topbar__title">
					<span>Web Standards &amp; Styleguide</span> for Västra Götalands&shy;regionen
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 end-sm">
				{% include "_templates/partials/primary-navigation.html" %}
			</div>

		</div>
	</div>
</div>
