<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{{ title }} - Västra Götalandsregionen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ baseurl }}/css/main.css" type="text/css">
		<link rel="shortcut icon" href="{{ baseurl }}/img/favicon.ico" type="image/x-icon">
		<script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
	</head>
	<body>
		<a href="#main" class="vgr-skip vgr-visually-hidden vgr-visually-hidden--focusable">Skip to main content</a>
