<div class="main-navigation">
	<div class="vgr-wrapper">
		<nav role="navigation">
			<ul class="vgr-list-reset vgr-clearfix">
				<li class="main-navigation__item">
					<a href="{{ baseurl }}/getting-started" class="main-navigation__link" {{ "data-selected" if mainPage == 'getting-started' }}>Getting started</a>
				</li>
				<li class="main-navigation__item">
					<a href="{{ baseurl }}/guidelines" class="main-navigation__link" {{ "data-selected" if mainPage == 'guidelines' }}>Guidelines</a>
				</li>
				<li class="main-navigation__item">
					<a href="{{ baseurl }}/base" class="main-navigation__link" {{ "data-selected" if mainPage == 'base' }}>Base</a>
				</li>
				<li class="main-navigation__item">
					<a href="{{ baseurl }}/components" class="main-navigation__link" {{ "data-selected" if mainPage == 'components' }}>Components</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
