<ul class="sg-primary__navigation">
	<li><a href="/getting-started" {{ "data-active" if mainPage == 'getting-started' }}>Getting started</a></li>
	<li><a href="/guidelines" {{ "data-active" if mainPage == 'guidelines' }}>Guidelines</a></li>
	<li><a href="/base" {{ "data-active" if mainPage == 'base' }}>Base</a></li>
	<li><a href="/components" {{ "data-active" if mainPage == 'components' }}>Components</a></li>
	<li><a href="https://github.com/Okkido/vgr-styleguide" class="vgr-button">GitHub</a></li>
</ul>
