<div class="col-xs-12 col-md-4 col-lg-3">
	<nav class="sg-sidebar-navigation" role="navigation">
		<div>
			<h2 class="sg-sidebar-navigation__label">Getting started</h2>
			<ul>
				<li><a href="/getting-started/code-base" {{ "data-active" if subPage == 'code-base' }}>Code Base</a></li>
				<li><a href="/getting-started/code-base" {{ "data-active" if subPage == 'code-base' }}>Set up</a></li>
				<li><a href="/getting-started/code-base" {{ "data-active" if subPage == 'code-base' }}>Set up</a></li>
			</ul>
		</div>
	</nav>
</div>
