{% set title = "Colors" %}
{% set mainPage = "base" %}
{% set subPage = "colors" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Colors <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/base/_variables.scss" class="sg-file">_variables.scss</a></h1>

	<p>Use the color palette. If you need custom colors do not forget that they have to be adapted for the web and contrast from the accessibility aspect.</p>

		<p>The color contrast for text and interactive elements must follow <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">WCAG 2.0 AA</a>.

	<p><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements must have a color contrast ratio of at least 4.5:1. This ensures that viewers who cannot see the full color spectrum are able to read the text.</p>

	<p>If you choose to customize beyond this palette, this <a href="http://webaim.org/resources/contrastchecker/">color contrast tool</a> is a useful resource for testing the compliance of any color combination.</p>

	<h2 class="sg-header-2">VGR Theme Color Blue</h2>

	<div class="sg-color-holder vgr-clearfix">
		<div class="sg-color">
			<span class="sg-color-box" style="background:#005c95;"></span>
			<span class="sg-color-description">Primary Color</span>
			<span class="sg-color-value">#005c95</span>
		</div>

		<div class="sg-color">
			<span class="sg-color-box" style="background:#094e79;"></span>
			<span class="sg-color-description">Dark</span>
			<span class="sg-color-value">#094e79</span>
		</div>

		<div class="sg-color">
			<span class="sg-color-box" style="background:#06304a;"></span>
			<span class="sg-color-description">Darkest</span>
			<span class="sg-color-value">#06304a</span>
		</div>

		<div class="sg-color">
			<span class="sg-color-box" style="background:#d7f0ff;"></span>
			<span class="sg-color-description">Light</span>
			<span class="sg-color-value">#d7f0ff</span>
		</div>

		<div class="sg-color">
			<span class="sg-color-box" style="background:#fabb00;"></span>
			<span class="sg-color-description">Complementary Color</span>
			<span class="sg-color-value">#fabb00</span>
		</div>

		<div class="sg-color">
			<span class="sg-color-box" style="background:#47ac1f;"></span>
			<span class="sg-color-description">Action</span>
			<span class="sg-color-value">#47ac1f</span>
		</div>

	</div>

	<h2 class="sg-header-2">Theme 2</h2>

	<div class="sg-color-holder vgr-clearfix">
		<div class="sg-color">
			<span class="sg-color-box" style="background:#a5082f;"></span>
			<span class="sg-color-description">Primary Color</span>
			<span class="sg-color-value">#a5082f</span>
		</div>

	</div>

	<h2 class="sg-header-2">Theme 3</h2>

	<div class="sg-color-holder vgr-clearfix">
		<div class="sg-color">
			<span class="sg-color-box" style="background:#39791f;"></span>
			<span class="sg-color-description">Primary Color</span>
			<span class="sg-color-value">#39791f</span>
		</div>

	</div>

	<h2 class="sg-header-2">Theme 4</h2>

	<div class="sg-color-holder vgr-clearfix">
		<div class="sg-color">
			<span class="sg-color-box" style="background:#fabb00;"></span>
			<span class="sg-color-description">Primary Color</span>
			<span class="sg-color-value">#fabb00</span>
		</div>

	</div>

	<h2 class="sg-header-2">Theme 5</h2>

	<div class="sg-color-holder vgr-clearfix">
		<div class="sg-color">
			<span class="sg-color-box" style="background:#9c9e9f;"></span>
			<span class="sg-color-description">Primary Color</span>
			<span class="sg-color-value">#9c9e9f</span>
		</div>

	</div>

{% endblock %}
