{% set title = "Accessibility" %}
{% set mainPage = "guidelines" %}
{% set subPage = "accessibility" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "guidelines/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Accessibility</h1>
	<p class="sg-paragraph">Every line of code created in this Styleguide must pass WCAG 2.0 level AA. Under development.</p>
	<h2 class="sg-header-2">Tools for testing</h2>
	<ul>
		<li><a href="http://squizlabs.github.io/HTML_CodeSniffer/">CodeSniffer</a></li>
		<li><a href="https://tenon.io/">Tenon</a></li>
		<li><a href="http://wave.webaim.org/">Wave</a></li>
	</ul>


{% endblock %}
