.vgr-autocomplete {
  max-width: 634px;
  border: 1px solid #CCC;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 .3125rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  mark {
    font-weight: 700;
  }
}
