

<div class="vgr-alert vgr-mt-1 vgr-alert--info">
  
  <div class="vgr-alert__icon">
    <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#message--info"></use></svg>

  </div>
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Information message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>

