

<!-- Start: @alerts--default -->
<div class="vgr-alert vgr-mt-1 vgr-alert--success">
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--default -->

<!-- Start: @alerts--warning -->
<div class="vgr-alert vgr-mt-1 vgr-alert--warning">
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Warning message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--warning -->

<!-- Start: @alerts--error -->
<div class="vgr-alert vgr-mt-1 vgr-alert--error">
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Error message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--error -->

<!-- Start: @alerts--information -->
<div class="vgr-alert vgr-mt-1 vgr-alert--info">
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Information message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--information -->

<!-- Start: @alerts--success-with-icon -->
<div class="vgr-alert vgr-mt-1 vgr-alert--success">
  
  <div class="vgr-alert__icon">
    <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#message--success"></use></svg>

  </div>
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Success message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--success-with-icon -->

<!-- Start: @alerts--warning-with-icon -->
<div class="vgr-alert vgr-mt-1 vgr-alert--warning">
  
  <div class="vgr-alert__icon">
    <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#message--warning"></use></svg>

  </div>
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Warning message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--warning-with-icon -->

<!-- Start: @alerts--error-with-icon -->
<div class="vgr-alert vgr-mt-1 vgr-alert--error">
  
  <div class="vgr-alert__icon">
    <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#message--error"></use></svg>

  </div>
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Error message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--error-with-icon -->

<!-- Start: @alerts--information-with-icon -->
<div class="vgr-alert vgr-mt-1 vgr-alert--info">
  
  <div class="vgr-alert__icon">
    <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#message--info"></use></svg>

  </div>
  
  <div class="vgr-alert__content">
    <h2 class="vgr-alert__title">Information message</h2>
    <div class="vgr-alert__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
</div>
<!-- End: @alerts--information-with-icon -->

