

<!-- Start: @aligment--default -->
<div class="vgr-align-left">
  <img src="/temp/photo-640x425.jpg" width="640" height="425" alt="Photo of a sunset over the ocean with a cliff">

</div>
<!-- End: @aligment--default -->

<!-- Start: @aligment--center -->
<div class="vgr-align-center">
  <img src="/temp/photo-640x425.jpg" width="640" height="425" alt="Photo of a sunset over the ocean with a cliff">

</div>
<!-- End: @aligment--center -->

<!-- Start: @aligment--right -->
<div class="vgr-align-right">
  <img src="/temp/photo-640x425.jpg" width="640" height="425" alt="Photo of a sunset over the ocean with a cliff">

</div>
<!-- End: @aligment--right -->

