

<!-- Start: @badge--default -->
<em class="vgr-badge vgr-badge--primary">Primary badge</em>
<!-- End: @badge--default -->

<!-- Start: @badge--success -->
<em class="vgr-badge vgr-badge--success">Success badge</em>
<!-- End: @badge--success -->

<!-- Start: @badge--warning -->
<em class="vgr-badge vgr-badge--warning">Warning badge</em>
<!-- End: @badge--warning -->

<!-- Start: @badge--error -->
<em class="vgr-badge vgr-badge--error">Error badge</em>
<!-- End: @badge--error -->

<!-- Start: @badge--information -->
<em class="vgr-badge vgr-badge--info">Information badge</em>
<!-- End: @badge--information -->

