

<div class="vgr-block vgr-block--contact">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        Monica Ögren
      </h2>
      

      
      <span class="vgr-block__header-subtitle">Ledning, köks- och måltidsarbete</span>
      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>Folktandvården Västra Götaland finns i länets alla 49 kommuner och har 156 kliniker inom allmän- och specialisttandvård. Vi tar emot både vuxna och barn.</p>
      </div>
      

    </div>
  </div>


</div>

