

<div class="vgr-block vgr-block--teaser">
  <div class="vgr-block__container">
    
    <div class="vgr-block__image-container">
      <img class="vgr-block__image" src="../../temp/block-image.jpg" alt="Alternative text">
    </div>
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        Sök till våra kurser
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>På Grebbestads folkhögskola har vi många olika kurser att välja bland!</p>
      </div>
      

    </div>
  </div>


</div>

