

<div class="vgr-block vgr-block--teaser-linked">
  <div class="vgr-block__container">
    
    <div class="vgr-block__image-container">
      <img class="vgr-block__image" src="../../temp/block-image.jpg" alt="Alternative text">
    </div>
    
    
    <div class="vgr-block__header">
      
        <div class="vgr-block__icon"></div>
      

      
      <h2 class="vgr-block__header-heading">Sök till våra kurser</h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>På Grebbestads folkhögskola har vi många olika kurser att välja bland!</p>
      </div>
      

      

    </div>
  </div>


</div>
