

<div class="vgr-breadcrumbs">
  <div class="vgr-container">
    <p id="breadcrumblabel" class="vgr-breadcrumbs__description vgr-visually-hidden">Du är här:</p>
    <ol class="vgr-breadcrumbs__list" aria-labelledby="breadcrumblabel" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Startsida</a>
          <meta itemprop="position" content="1">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Om oss</a>
          <meta itemprop="position" content="2">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Organisation</a>
          <meta itemprop="position" content="3">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Koncernkontoret</a>
          <meta itemprop="position" content="4">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Ekonomi</a>
          <meta itemprop="position" content="5">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <span itemprop="item">Budget</span>
          <meta itemprop="position" content="6">
        </li>
      

    
    </ol>
  </div>
</div>
