

<!-- Start: @button--default -->
<button class="vgr-button vgr-button--primary">Button</button>
<!-- End: @button--default -->

<!-- Start: @button--subtle-button -->
<button class="vgr-button vgr-button--subtle">Button</button>
<!-- End: @button--subtle-button -->

<!-- Start: @button--secondary-button -->
<button class="vgr-button vgr-button--secondary">Button</button>
<!-- End: @button--secondary-button -->

<!-- Start: @button--disabled-button -->
<button class="vgr-button vgr-button--primary" disabled>Button</button>
<!-- End: @button--disabled-button -->

<!-- Start: @button--icon-buttton -->
<button class="vgr-button vgr-button--primary">Button</button>
<!-- End: @button--icon-buttton -->

