

<!-- Start: @button--default -->
<button class="vgr-button vgr-button--primary">Button</button>
<!-- End: @button--default -->

<!-- Start: @button--subtle -->
<button class="vgr-button vgr-button--subtle">Button</button>
<!-- End: @button--subtle -->

<!-- Start: @button--secondary -->
<button class="vgr-button vgr-button--secondary">Button</button>
<!-- End: @button--secondary -->

<!-- Start: @button--icon -->
<button class="vgr-button" type="submit">
  <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#search"></use></svg>

  Button
</button>
<!-- End: @button--icon -->

<!-- Start: @button--icon -->
<button class="vgr-button" type="submit">
  <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#search"></use></svg>

  
</button>
<!-- End: @button--icon -->

