

<!-- Start: @file-type-with-metadata--default -->
<p><a href="/" class="vgr-link vgr-link--pdf vgr-link--metadata">pdf link <span aria-label="filstorlek">(1 <abbr title="megabyte">MB</abbr>)</span></a></p>
<!-- End: @file-type-with-metadata--default -->

<!-- Start: @file-type-with-metadata--doc -->
<p><a href="/" class="vgr-link vgr-link--doc vgr-link--metadata">doc link <span aria-label="filstorlek">(125 <abbr title="kilobyte">kB</abbr>)</span></a></p>
<!-- End: @file-type-with-metadata--doc -->

<!-- Start: @file-type-with-metadata--xls -->
<p><a href="/" class="vgr-link vgr-link--xls vgr-link--metadata">xls link <span aria-label="filstorlek">(10 <abbr title="megabyte">MB</abbr>)</span></a></p>
<!-- End: @file-type-with-metadata--xls -->

<!-- Start: @file-type-with-metadata--zip -->
<p><a href="/" class="vgr-link vgr-link--zip vgr-link--metadata">zip link <span aria-label="filstorlek">(2 <abbr title="gigabyte">GB</abbr>)</span></a></p>
<!-- End: @file-type-with-metadata--zip -->

<!-- Start: @file-type-with-metadata--image -->
<p><a href="/" class="vgr-link vgr-link--image vgr-link--metadata">image link <span aria-label="filstorlek">(1024 <abbr title="kilobyte">kB</abbr>)</span></a></p>
<!-- End: @file-type-with-metadata--image -->

<!-- Start: @file-type-with-metadata--sound -->
<p><a href="/" class="vgr-link vgr-link--sound vgr-link--metadata">sound link <span aria-label="filstorlek">(3 <abbr title="megabyte">MB</abbr>)</span></a></p>
<!-- End: @file-type-with-metadata--sound -->

