

<!-- Start: @file-type-class--default -->
<p><a href="/" class="vgr-link vgr-link--pdf">A link with a pdf link class</a></p>
<!-- End: @file-type-class--default -->

<!-- Start: @file-type-class--doc -->
<p><a href="/" class="vgr-link vgr-link--doc">A link with a doc link class</a></p>
<!-- End: @file-type-class--doc -->

<!-- Start: @file-type-class--xls -->
<p><a href="/" class="vgr-link vgr-link--xls">A link with a xls link class</a></p>
<!-- End: @file-type-class--xls -->

<!-- Start: @file-type-class--zip -->
<p><a href="/" class="vgr-link vgr-link--zip">A link with a zip link class</a></p>
<!-- End: @file-type-class--zip -->

<!-- Start: @file-type-class--mail -->
<p><a href="/" class="vgr-link vgr-link--mail">A link with a mail link class</a></p>
<!-- End: @file-type-class--mail -->

<!-- Start: @file-type-class--phone -->
<p><a href="/" class="vgr-link vgr-link--phone">A link with a phone link class</a></p>
<!-- End: @file-type-class--phone -->

<!-- Start: @file-type-class--video -->
<p><a href="/" class="vgr-link vgr-link--video">A link with a video link class</a></p>
<!-- End: @file-type-class--video -->

<!-- Start: @file-type-class--image -->
<p><a href="/" class="vgr-link vgr-link--image">A link with a image link class</a></p>
<!-- End: @file-type-class--image -->

<!-- Start: @file-type-class--sound -->
<p><a href="/" class="vgr-link vgr-link--sound">A link with a sound link class</a></p>
<!-- End: @file-type-class--sound -->

