

<nav class="vgr-navbar" role="navigation">
  <ul class="vgr-navbar__list vgr-o-list-bare">
    
      
      <li class="vgr-navbar__list-item">
        <a href="/" class="vgr-navbar__list-link">Hjälp</a>
      </li>
      
    
      
        <li class="vgr-navbar__list-item vgr-navbar__list-item--current">
          <a href="/" class="vgr-navbar__list-link" aria-current="page">Sparade sökningar</a>
        </li>
      
    
      
      <li class="vgr-navbar__list-item">
        <a href="/" class="vgr-navbar__list-link">Synpunkter</a>
      </li>
      
    
      
      <li class="vgr-navbar__list-item">
        <a href="/" class="vgr-navbar__list-link">Sponsra en sida</a>
      </li>
      
    
  </ul>
</nav>
