

<nav class="vgr-navbar" role="navigation">
  <div class="vgr-container">
    <div class="vgr-row">
      <div class="col-xs-12 col-md-10 col-lg-8 vgr-centered">
        <ul class="vgr-navbar__list vgr-unstyled-list">
          
            
            <li class="vgr-navbar__list-item">
              <a href="/" class="vgr-navbar__list-link">Hjälp</a>
            </li>
            
          
            
              <li class="vgr-navbar__list-item vgr-navbar__list-item--current">
                <a href="/" class="vgr-navbar__list-link" aria-current="page">Sparade sökningar</a>
              </li>
            
          
            
            <li class="vgr-navbar__list-item">
              <a href="/" class="vgr-navbar__list-link">Synpunkter</a>
            </li>
            
          
            
            <li class="vgr-navbar__list-item">
              <a href="/" class="vgr-navbar__list-link">Sponsra en sida</a>
            </li>
            
          
        </ul>
      </div>
    </div>
  </div>
</nav>

