

<header class="vgr-header" role="banner">
  <div class="vgr-container">
    VGR
  </div>
</header>

<div class="vgr-primary-navigation">
  <div class="vgr-container">
    <nav role="navigation">
      <ul class="vgr-unstyled-list vgr-clearfix">
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link" data-selected>Link 1</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 2</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 3</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 4</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="vgr-breadcrumbs">
  <div class="vgr-container">
    <p id="breadcrumblabel" class="vgr-breadcrumbs__description vgr-visually-hidden">Du är här:</p>
    <ol class="vgr-breadcrumbs__list" aria-labelledby="breadcrumblabel" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Startsida</a>
          <meta itemprop="position" content="1">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Om oss</a>
          <meta itemprop="position" content="2">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Organisation</a>
          <meta itemprop="position" content="3">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Koncernkontoret</a>
          <meta itemprop="position" content="4">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">Ekonomi</a>
          <meta itemprop="position" content="5">
        </li>
      

    

      
        <li class="vgr-breadcrumbs__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <span itemprop="item">Budget</span>
          <meta itemprop="position" content="6">
        </li>
      

    
    </ol>
  </div>
</div>

<main class="main" id="main" role="main">

  <div class="vgr-container">
    <div class="vgr-row">
      <div class="col-sm-4">
        <nav role="navigation" class="vgr-secondary-navigation" aria-labelledby="secondary-navigation-title">
  <div class="vgr-secondary-navigation__header">
    <a href="/" id="secondary-navigation-title" class="vgr-secondary-navigation__header-title">Praktisk information</a>
  </div>
  <div class="vgr-secondary-navigation__content">
    <ul>
      
        <li>
          <a href="" data-selected data-isexpanded>Allmänna kurser</a>
          
            <ul>
            
              <li>
                <a href="#">Plus</a>
              </li>
            
              <li>
                <a href="#">Grafisk</a>
              </li>
            
              <li>
                <a href="#">Friluftsliv</a>
              </li>
            
              <li>
                <a href="#">Silver och smycke</a>
              </li>
            
              <li>
                <a href="#">Test</a>
              </li>
            
              <li>
                <a href="#">Spa och hälsa</a>
              </li>
            
            </ul>
          
        </li>
      
        <li>
          <a href="#" data-haschildren>Särskilda kurser</a>
          
        </li>
      
        <li>
          <a href="#" data-haschildren>Sommarkurser</a>
          
        </li>
      
        <li>
          <a href="#" data-haschildren>Distanskurser</a>
          
        </li>
      
    </ul>
  </div>
</nav>

      </div>

      <div class="col-sm-8">
        <article class="article" role="article">

          
          

        </article>
      </div>
    </div>
  </div>
</main>

<footer class="vgr-footer" role="contentinfo">
  <div class="vgr-container vgr-clearfix">
    <div class="vgr-row">
      
      <div class="col-md-4">
          <div class="vgr-block vgr-block--list">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        För dig som är
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>Folktandvården Västra Götaland finns i länets alla 49 kommuner och har 156 kliniker inom allmän- och specialisttandvård. Vi tar emot både vuxna och barn.</p>
      </div>
      

    </div>
  </div>


</div>

      </div>
      
      <div class="col-md-4">
          <div class="vgr-block vgr-block--teaser">
  <div class="vgr-block__container">
    
    <div class="vgr-block__image-container">
      <img class="vgr-block__image" src="../../temp/block-image.jpg" alt="Alternative text">
    </div>
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        Sök till våra kurser
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>På Grebbestads folkhögskola har vi många olika kurser att välja bland!</p>
      </div>
      

    </div>
  </div>


</div>

      </div>
      
      <div class="col-md-4">
          <div class="vgr-block vgr-block--default">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        Kontakta våra kliniker
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>Folktandvården Västra Götaland finns i länets alla 49 kommuner och har 156 kliniker inom allmän- och specialisttandvård. Vi tar emot både vuxna och barn.</p>
      </div>
      

    </div>
  </div>


</div>

      </div>
      
    </div>
  </div>
</footer>


