

<div class="vgr-container">
  <div class="vgr-row">
    <div class="vgr-block vgr-block--default">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
        <div class="vgr-block__icon"></div>
      

      
      <h2 class="vgr-block__header-heading">Title</h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      

      

    </div>
  </div>


</div>
    <div class="vgr-block vgr-block--default">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
        <div class="vgr-block__icon"></div>
      

      
      <h2 class="vgr-block__header-heading">Title</h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      

      

    </div>
  </div>


</div>
    <div class="vgr-block vgr-block--default">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
        <div class="vgr-block__icon"></div>
      

      
      <h2 class="vgr-block__header-heading">Title</h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      

      

    </div>
  </div>


</div>
    <div class="vgr-block vgr-block--default">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
        <div class="vgr-block__icon"></div>
      

      
      <h2 class="vgr-block__header-heading">Title</h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      

      

    </div>
  </div>


</div>
  </div>
</div>

