

<nav role="navigation" class="vgr-secondary-navigation" aria-labelledby="secondary-navigation-title">
  <div class="vgr-secondary-navigation__header">
    <a href="/" id="secondary-navigation-title" class="vgr-secondary-navigation__header-title">Praktisk information</a>
  </div>
  <div class="vgr-secondary-navigation__content">
    <ul>
      
        <li>
          <a href="" data-selected data-isexpanded>Allmänna kurser</a>
          
            <ul>
            
              <li>
                <a href="#">Plus</a>
              </li>
            
              <li>
                <a href="#">Grafisk</a>
              </li>
            
              <li>
                <a href="#">Friluftsliv</a>
              </li>
            
              <li>
                <a href="#">Silver och smycke</a>
              </li>
            
              <li>
                <a href="#">Test</a>
              </li>
            
              <li>
                <a href="#">Spa och hälsa</a>
              </li>
            
            </ul>
          
        </li>
      
        <li>
          <a href="#" data-haschildren>Särskilda kurser</a>
          
        </li>
      
        <li>
          <a href="#" data-haschildren>Sommarkurser</a>
          
        </li>
      
        <li>
          <a href="#" data-haschildren>Distanskurser</a>
          
        </li>
      
    </ul>
  </div>
</nav>

