

<div class="vgr-share">
  <p id="sharelabel" class="vgr-share__label">Dela sidan via:</p>
  <ul class="vgr-share__list" aria-labelledby="sharelabel">

    
    <li class="vgr-share__list-item">
      <a href="/" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--facebook" aria-label="Facebook">
          <use xlink:href="../../icons/sprite/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
    
    <li class="vgr-share__list-item">
      <a href="/" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--twitter" aria-label="Twitter">
          <use xlink:href="../../icons/sprite/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
    
    <li class="vgr-share__list-item">
      <a href="/" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--linkedin" aria-label="Linkedin">
          <use xlink:href="../../icons/sprite/icons.svg#linkedin"></use>
        </svg>
      </a>
    </li>
    
    <li class="vgr-share__list-item">
      <a href="/" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--google" aria-label="Google+">
          <use xlink:href="../../icons/sprite/icons.svg#google"></use>
        </svg>
      </a>
    </li>
    
    <li class="vgr-share__list-item">
      <a href="/" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--pinterest" aria-label="Pinterest">
          <use xlink:href="../../icons/sprite/icons.svg#pinterest"></use>
        </svg>
      </a>
    </li>
    
    <li class="vgr-share__list-item">
      <a href="/" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--email" aria-label="E-post">
          <use xlink:href="../../icons/sprite/icons.svg#email"></use>
        </svg>
      </a>
    </li>
    
    <li class="vgr-share__list-item">
      <a href="/" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--print" aria-label="Skriv ut">
          <use xlink:href="../../icons/sprite/icons.svg#print"></use>
        </svg>
      </a>
    </li>
    

  </ul>
</div>
