

<nav class="vgr-tabbar" role="navigation">
  <div class="vgr-container">
    <div class="vgr-row">
      <div class="col-xs-12 col-md-10 col-lg-8 vgr-centered">
        <ul class="vgr-tabbar__list vgr-unstyled-list">
          
            
            <li class="vgr-tabbar__list-item">
              <a href="/" class="vgr-tabbar__list-link">Webb</a>
            </li>
            
          
            
              <li class="vgr-tabbar__list-item vgr-tabbar__list-item--current">
                <a href="/" class="vgr-tabbar__list-link" aria-current="page">Dokument</a>
              </li>
            
          
            
            <li class="vgr-tabbar__list-item">
              <a href="/" class="vgr-tabbar__list-link">Medarbetare</a>
            </li>
            
          
            
            <li class="vgr-tabbar__list-item">
              <a href="/" class="vgr-tabbar__list-link">Organisation</a>
            </li>
            
          
        </ul>
      </div>
    </div>
  </div>
</nav>

