

<nav class="vgr-tabbar" role="navigation">
  <ul class="vgr-tabbar__list vgr-o-list-bare">
    
      
      <li class="vgr-tabbar__list-item">
        <a href="/" class="vgr-tabbar__list-link">Webb</a>
      </li>
      
    
      
        <li class="vgr-tabbar__list-item vgr-tabbar__list-item--current">
          <a href="/" class="vgr-tabbar__list-link" aria-current="page">Dokument</a>
        </li>
      
    
      
      <li class="vgr-tabbar__list-item">
        <a href="/" class="vgr-tabbar__list-link">Hitta person</a>
      </li>
      
    
      
      <li class="vgr-tabbar__list-item">
        <a href="/" class="vgr-tabbar__list-link">Hitta organisation</a>
      </li>
      
    
  </ul>
</nav>
