

<p id="wizardlabel" class="vgr-visually-hidden">Du är här:</p>
<ol class="vgr-wizardstep" aria-labelledby="wizardlabel">
  
    
    <li class="vgr-wizardstep__item" aria-label="Avklarat steg:">
      <a href="/">Sök tid</a>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--active" aria-label="Nuvarande steg">
      <div>Välj tid</div>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--inactive">
      <div>Personuppgifter</div>
    </li>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--inactive">
      <div>Kontrollera</div>
    </li>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--inactive">
      <div>Bekräftelse</div>
    </li>
    
  
</ol>
