<div class="vgr-share">
  <p id="{{ id }}" class="vgr-share__label">{{ label }}</p>
  <ul class="vgr-share__list" aria-labelledby="{{ id }}">

    {% for item in items %}
    <li class="vgr-share__list-item">
      <a href="{{ item.url }}" class="vgr-share__list-item-link vgr-popup">
        <svg class="vgr-icon vgr-icon--{{ item.modifier }}"{% if item.labelText %} aria-label="{{ item.labelText }}"{% endif %}>
          <use xlink:href="{{ '/icons/sprite/icons.svg' | path }}#{{ item.modifier }}"></use>
        </svg>
      </a>
    </li>
    {% endfor %}

  </ul>
</div>