<div class="vgr-primary-navigation">
  <div class="vgr-container">
    <nav role="navigation">
      <ul class="vgr-unstyled-list vgr-clearfix">
        {% for item in items %}
          <li class="vgr-primary-navigation__item">
            <a href="{{item.url}}" class="vgr-primary-navigation__link vgr-primary-navigation__link--js {{item.state}}" {{item.attr}} aria-expanded="false" aria-hidden="true">{{ item.text }}</a>
            {% if item.items%}
              <div class="sub-nav open" role="group" aria-expanded="false" aria-hidden="true">
                <ul class="sub-nav-group">
                  {% for subitem in item.items %}
                    <li class="vgr-primary-navigation__item">
                      <a href="{{subitem.url}}" class="vgr-primary-navigation__link" {{subitem.attr}}>{{ subitem.text }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
