{% set title = "Buttons" %}
{% set mainPage = "base" %}
{% set subPage = "buttons" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Buttons <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/objects/_buttons.scss" class="sg-file">_buttons.scss</a></h1>

	<p>To create a VGR styled button, add the <code>vgr-button</code> classname to any <code class="sg-code">&lt;a&gt;</code> or <code class="sg-code">&lt;button&gt;</code> element.</p>

	<div>
		<a class="vgr-button" href="#">Anchor button</a>
		<button class="vgr-button">Button element</button>
		<input  class="vgr-button" type="submit" value="Submit input">
		<input  class="vgr-button" type="button" value="Button input">
		<a class="vgr-button vgr-button__icon" href="#"><svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#success"></use></svg> Icon button</a>
	</div>

	<h2 class="sg-header-2">Button Size Variations</h2>

	<h3 class="sg-header-3">Large</h3>
	<div>
		<a class="vgr-button vgr-button--large" href="#">Anchor button</a>
		<button class="vgr-button vgr-button--large">Button element</button>
		<input  class="vgr-button vgr-button--large" type="submit" value="Submit input">
		<input  class="vgr-button vgr-button--large" type="button" value="Button input">
		<a class="vgr-button vgr-button__icon vgr-button--large" href="#"><svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#success"></use></svg> Icon button</a>
	</div>

	<h3 class="sg-header-3">Small</h3>
	<div>
		<a class="vgr-button vgr-button--small" href="#">Anchor button</a>
		<button class="vgr-button vgr-button--small">Button element</button>
		<input  class="vgr-button vgr-button--small" type="submit" value="Submit input">
		<input  class="vgr-button vgr-button--small" type="button" value="Button input">
		<a class="vgr-button vgr-button__icon vgr-button--small" href="#"><svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#success"></use></svg> Icon button</a>
	</div>

	<h1 class="sg-header-1">Secondary Buttons</h1>

	<p>To create a VGR styled button, add the <code>vgr-button</code> classname to any <code class="sg-code">&lt;a&gt;</code> or <code class="sg-code">&lt;button&gt;</code> element.</p>

	<div>
		<a class="vgr-button vgr-button--secondary" href="#">Anchor button</a>
		<button class="vgr-button vgr-button--secondary">Button element</button>
		<input  class="vgr-button vgr-button--secondary" type="submit" value="Submit input">
		<input  class="vgr-button vgr-button--secondary" type="button" value="Button input">
		<a class="vgr-button vgr-button--secondary vgr-button__icon" href="#"><svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#success"></use></svg> Icon button</a>
	</div>

	<h2 class="sg-header-2">Button Size Variations</h2>

	<h3 class="sg-header-3">Large</h3>
	<div>
		<a class="vgr-button vgr-button--secondary vgr-button--large" href="#">Anchor button</a>
		<button class="vgr-button vgr-button--secondary vgr-button--large">Button element</button>
		<input  class="vgr-button vgr-button--secondary vgr-button--large" type="submit" value="Submit input">
		<input  class="vgr-button vgr-button--secondary vgr-button--large" type="button" value="Button input">
		<a class="vgr-button vgr-button--secondary vgr-button__icon vgr-button--large" href="#"><svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#success"></use></svg> Icon button</a>
	</div>

	<h3 class="sg-header-3">Small</h3>
	<div>
		<a class="vgr-button vgr-button--secondary vgr-button--small" href="#">Anchor button</a>
		<button class="vgr-button vgr-button--secondary vgr-button--small">Button element</button>
		<input  class="vgr-button vgr-button--secondary vgr-button--small" type="submit" value="Submit input">
		<input  class="vgr-button vgr-button--secondary vgr-button--small" type="button" value="Button input">
		<a class="vgr-button vgr-button--secondary vgr-button__icon vgr-button--small" href="#"><svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#success"></use></svg> Icon button</a>
	</div>

{% endblock %}
