{% include "_templates/icon-template.nunjucks" %}
{% include "_templates/button-template.nunjucks" %}

{% set title = "Buttons" %}
{% set mainPage = "base" %}
{% set subPage = "buttons" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Buttons <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/objects/_buttons.scss" class="sg-file">_buttons.scss</a></h1>

	<p>To create a VGR styled button, add the <code>vgr-button</code> classname to any <code class="sg-code">&lt;a&gt;</code> or <code class="sg-code">&lt;button&gt;</code> element.</p>

	<div class="sg-section">
		<a class="vgr-button" href="#">Anchor button</a>
{% call pattern('Pattern') %}
<a class="vgr-button" href="#">Anchor button</a>
{% endcall %}
	</div>

	<div class="sg-section">
		<button class="vgr-button">Button element</button>
{% call pattern('Pattern') %}
<button class="vgr-button">Button element</button>
{% endcall %}
	</div>

	<div class="sg-section">
		<input  class="vgr-button" type="submit" value="Submit input">
{% call pattern('Pattern') %}
<input  class="vgr-button" type="submit" value="Submit input">
{% endcall %}
	</div>

	<div class="sg-section">
		<input  class="vgr-button" type="button" value="Button input">
{% call pattern('Pattern') %}
<input  class="vgr-button" type="button" value="Button input">
{% endcall %}
	</div>

	<h1 class="sg-header-1">Complementary Buttons</h1>
	<div class="sg-section">

		<p>To create a VGR styled button, add the <code>vgr-button</code> classname to any <code class="sg-code">&lt;a&gt;</code> or <code class="sg-code">&lt;button&gt;</code> element.</p>

		<div>
			<a class="vgr-button vgr-button--complementary" href="#">Anchor button</a>
			<button class="vgr-button vgr-button--complementary">Button element</button>
			<input  class="vgr-button vgr-button--complementary" type="submit" value="Submit input">
			<input  class="vgr-button vgr-button--complementary" type="button" value="Button input">
			<a class="vgr-button vgr-button--complementary vgr-button__icon" href="#">
				{{ icon("success") }}
				Icon button
			</a>
		</div>
{% call pattern('Pattern') %}
<a class="vgr-button vgr-button--complementary" href="#">Anchor button</a>
<button class="vgr-button vgr-button--complementary">Button element</button>
<input  class="vgr-button vgr-button--complementary" type="submit" value="Submit input">
<input  class="vgr-button vgr-button--complementary" type="button" value="Button input">
<a class="vgr-button vgr-button--complementary vgr-button__icon" href="#">
	{{ icon("success") }}
	Icon button
</a>
{% endcall %}
	</div>

	<h2 class="sg-header-2">Button Size Variations</h2>
	<div class="sg-section">

		<h3 class="sg-header-3">Large</h3>
		<div>
			<a class="vgr-button vgr-button--secondary vgr-button--large" href="#">Anchor button</a>
			<button class="vgr-button vgr-button--secondary vgr-button--large">Button element</button>
			<input  class="vgr-button vgr-button--secondary vgr-button--large" type="submit" value="Submit input">
			<input  class="vgr-button vgr-button--secondary vgr-button--large" type="button" value="Button input">
			<a class="vgr-button vgr-button--secondary vgr-button__icon vgr-button--large" href="#">
				{{ icon("success") }}
				Icon button
			</a>
		</div>
{% call pattern('Pattern') %}
<a class="vgr-button vgr-button--secondary vgr-button--large" href="#">Anchor button</a>
<button class="vgr-button vgr-button--secondary vgr-button--large">Button element</button>
<input  class="vgr-button vgr-button--secondary vgr-button--large" type="submit" value="Submit input">
<input  class="vgr-button vgr-button--secondary vgr-button--large" type="button" value="Button input">
<a class="vgr-button vgr-button--secondary vgr-button__icon vgr-button--large" href="#">
	{{ icon("success") }}
	Icon button
</a>
{% endcall %}
	</div>
	<div class="sg-section">
		<h3 class="sg-header-3">Small</h3>
		<div>
			<a class="vgr-button vgr-button--secondary vgr-button--small" href="#">Anchor button</a>
			<button class="vgr-button vgr-button--secondary vgr-button--small">Button element</button>
			<input  class="vgr-button vgr-button--secondary vgr-button--small" type="submit" value="Submit input">
			<input  class="vgr-button vgr-button--secondary vgr-button--small" type="button" value="Button input">
			<a class="vgr-button vgr-button--secondary vgr-button__icon vgr-button--small" href="#">
				{{ icon("success") }}
				Icon button
			</a>
		</div>
{% call pattern('Pattern') %}
<a class="vgr-button vgr-button--secondary vgr-button--small" href="#">Anchor button</a>
<button class="vgr-button vgr-button--secondary vgr-button--small">Button element</button>
<input  class="vgr-button vgr-button--secondary vgr-button--small" type="submit" value="Submit input">
<input  class="vgr-button vgr-button--secondary vgr-button--small" type="button" value="Button input">
<a class="vgr-button vgr-button--secondary vgr-button__icon vgr-button--small" href="#">
	{{ icon("success") }}
	Icon button
</a>
{% endcall %}
	</div>

{% endblock %}
