{% set title = "Media" %}
{% set mainPage = "base" %}
{% set subPage = "media" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Media <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/objects/_media.scss" class="sg-file">_media.scss</a></h1>
	<p class="sg-paragraph">Only use images and other media of there is a clear user need for it.</p>

	<h2 class="sg-header-2">Img</h2>

	<div class="sg-section">

		<img src="{{ baseurl }}/temp/photo-640x425.jpg" alt="Photo of a sunset over the ocean with a cliff">

{% call pattern('Pattern') %}
<img src="{{ baseurl }}/temp/photo-640x425.jpg" alt="Photo of a sunset over the ocean with a cliff">
{% endcall %}
	</div>

	<h2 class="sg-header-2">Figure</h2>

	<div class="sg-section">

		<figure class="vgr-figure">
			<img src="{{ baseurl }}/temp/photo-640x425.jpg" alt="Photo of a sunset over the ocean with a cliff">
			<figcaption>
				This is a placeholder image, with supporting caption.
			</figcaption>
		</figure>

{% call pattern('Pattern') %}
<figure class="vgr-figure">
	<img src="{{ baseurl }}/temp/photo-640x425.jpg" alt="Photo of a sunset over the ocean with a cliff">
	<figcaption>
		This is a placeholder image, with supporting caption.
	</figcaption>
</figure>
{% endcall %}
	</div>

	<h2 class="sg-header-2">Audio</h2>

	<div class="sg-section">

		<audio controls preload="none">
			<source src="{{ baseurl }}/temp/audio.mp3" type="audio/mpeg">
			Your browser does not support the audio element. <a href="{{ baseurl }}/temp/audio.mp3">Download the file</a>.
		</audio>

{% call pattern('Pattern') %}
<audio controls preload="none">
	<source src="{{ baseurl }}/temp/audio.mp3" type="audio/mpeg">
	Your browser does not support the audio element. <a href="{{ baseurl }}/temp/audio.mp3">Download the file</a>.
</audio>
{% endcall %}

	</div>

	<h2 class="sg-header-2">Video</h2>

	<div class="sg-section">

		<video controls preload="none" poster="{{ baseurl }}/temp/video-poster.jpg" width="640" height="360">
			<source src="{{ baseurl }}/temp/video.mp4" type="video/mp4">
		</video>

{% call pattern('Pattern') %}
<video controls preload="none" poster="{{ baseurl }}/temp/video-poster.jpg" width="640" height="360">
	<source src="{{ baseurl }}/temp/video.mp4" type="video/mp4">
</video>
{% endcall %}

	</div>

	<h2 class="sg-header-2">YouTube</h2>
	<p><em class="vgr-badge sg-badge-todo">TODO</em> This iframe should not be loaded by default. Let the user activate the iframe.</p>

	<div class="sg-section">

		<div class="vgr-embed-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/YE7VzlLtp-4" allowfullscreen title="Video"></iframe>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-embed-container">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/YE7VzlLtp-4" allowfullscreen title="Video"></iframe>
</div>
{% endcall %}

	</div>

	<h2 class="sg-header-2">Vimeo</h2>
	<p><em class="vgr-badge sg-badge-todo">TODO</em> This iframe should not be loaded by default. Let the user activate the iframe.</p>

	<div class="sg-section">

		<div class="vgr-embed-container">
			<iframe src="https://player.vimeo.com/video/1084537" width="500" height="281" allowfullscreen title="Video"></iframe>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-embed-container">
	<iframe src="https://player.vimeo.com/video/1084537" width="500" height="281" allowfullscreen title="Video"></iframe>
</div>
{% endcall %}

	</div>

{% endblock %}
