{% set title = "Quotes" %}
{% set mainPage = "base" %}
{% set subPage = "quotes" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Quotes <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/elements/_quotes.scss" class="sg-file">_quotes.scss</a></h1>

	<h2 class="sg-header-2">Blockquote</h2>

	<div class="sg-section">

		<blockquote>
			<p>The power of the web is in its universality. Access by everyone regardless of disability is an essential aspect.</p>
			<footer><cite>Tim Berners-Lee</cite></footer>
		</blockquote>

	</div>

{% endblock %}
