{% block main %}
  {% render '@skip-link' %}
  {% render "@navbar" %}

  <header role="banner">
    <div class="vgr-header-search">
      <div class="vgr-container">
        <div class="vgr-row">
          <div class="col-xs-12 col-md-10 col-lg-8 vgr-centered">
            {% render "@logo" %}
            {% render "@input-icon" %}
          </div>
        </div>
      </div>
    </div>
  </header>

  {% render "@tabbar", tabList %}

  <main id="main-container" role="main">
    <div class="vgr-container">
      <div class="vgr-row">
        <div class="col-md-10 col-lg-8 vgr-centered">
          <div class="vgr-search-information">
            <p>Ungefär {{ searchItems }} resultat</p>
            <p>Menade du <a href="/">{{ didYouMean }}</a></p>
          </div>
          <ul class="vgr-search-results vgr-unstyled-list">
            <li class="vgr-search-results__item">
              {% render "@search-card--person" %}
            </li>
            {% for item in searchResults %}
              <li class="vgr-search-results__item">
                {% render "@search-card--panel", item.resultList %}
              </li>
            {% endfor %}
          </ul>
          {% render "@standard-pagination" %}
        </div>
      </div>
    </div>
  </main>

{% endblock %}
