{% from "_templates/icon-template.nunjucks" import icon %}
{% set title = "Standard Block" %}
{% set mainPage = "components" %}
{% set subPage = "standard-block" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "components/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Standard Block <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/components/_block.scss" class="sg-file">_block.scss</a></h1>

	<div class="sg-section">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-6">
				<div class="card">
					<div class="card__generic-body">
						<div class="card__inner-row">
							<div class="card__header">
								<h2 class="card__heading">{{ icon("ic_content_paste") }} Vivamus placerat sed ligula</h2>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus eleifend ex ac sodales.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6">
				<div class="card">
					<div class="card__generic-body">
						<div class="card__inner-row">
							<div class="card__header">
								<h2 class="card__heading">{{ icon("ic_list") }} Etiam at risus placerat</h2>
							</div>
							<p>Etiam at risus placerat, consectetur nisl sed, lorem. Integer sed augue nec libero lobortis cursus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

{% call pattern('Pattern') %}
<div class="card">
	<div class="card__generic-body">
		<div class="card__inner-row">
			<div class="card__header">
				<h2 class="card__heading">{{ icon("ic_content_paste") }} Vivamus placerat sed ligula</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus eleifend ex ac sodales.</p>
		</div>
	</div>
</div>
{% endcall %}
	</div>

{% endblock %}
