.vgr-share {
  &__label {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    padding-bottom: .5rem;

    &:not(last-child) {
      padding-right: .5rem;
    }
  }

  &__list-item-link {
    display: block;
  }

  .vgr-icon {
    width: 2rem;
    height: 2rem;
    vertical-align: top;
  }
}


$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #0077b5;
$color-google: #0077b5;
$color-pinterest: #bd081c;
$color-email: #639d3c;
$color-print: #6b6e67;

.vgr-share__list-item-link {
  .vgr-icon {
    transition: fill .3s ease-in-out;

    &--facebook {
      fill: $color-facebook;

      &:hover {
        fill: darken($color-facebook, 25%);
      }
    }

    &--twitter {
      fill: $color-twitter;

      &:hover {
        fill: darken($color-twitter, 25%);
      }
    }

    &--linkedin {
      fill: $color-linkedin;

      &:hover {
        fill: darken($color-linkedin, 25%);
      }
    }

    &--google {
      fill: $color-google;

      &:hover {
        fill: darken($color-google, 25%);
      }
    }

    &--pinterest {
      fill: $color-pinterest;

      &:hover {
        fill: darken($color-pinterest, 25%);
      }
    }

    &--email {
      fill: $color-email;

      &:hover {
        fill: darken($color-email, 25%);
      }
    }

    &--print {
      fill: $color-print;

      &:hover {
        fill: darken($color-print, 25%);
      }
    }
  }
}
