



<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Sök beställar-ID - Västra Götalandsregionen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://stilguiden.vgregion.se/css/main.css" type="text/css">
		<link rel="shortcut icon" href="http://stilguiden.vgregion.se/img/favicon.ico" type="image/x-icon">
		<script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
		<style>
			body { margin: 1em 1em 1em 1em; }	
		</style>
	</head>
	<body>
		<h1>Sök beställar-ID</h1>
	<p class="sg-paragraph">Här kan du ange namn, VGRID eller beställar-ID för att få fler uppgifter.</p>

	<div class="vgr-search">
		<form action="/">
			<label for="s" class="vgr-visually-hidden">Sök beställar-ID</label>
			<input class="vgr-search__field typeahead" id="s" type="search" value="maros13" placeholder="Ange namn eller beställar-ID">
			<button class="vgr-button" type="submit" name="button">Sök</button>
		</form>
	</div>

	<div class="vgr-search-details vgr-clearfix">
		<h2 class="vgr-search-details__heading">Visar <strong>2</strong> träffar för 'maros13'</h2>
	</div>

	<ul class="vgr-search-list">
		<li class="vgr-search-list__item">
			<h3 class="vgr-search-list__headline"><a href="/">Marcine Ostin</a></h3>
				<p>
					<span class="vgr-search-list__meta-label">Jobbar på Enhet xx</span><br>
					<span>Postadress: Lillhagsparken 5, 123 45 Göteborg</span><br>
					<span>VGRID: maros137</span>
				</p>
				<p>
					<span class="vgr-search-list__meta-label">Ekonomiska uppgifter</span><br>
					<span>Ansvar: 38888</span><br>
					<span>Beställar-ID: 38888 xx</span><br>
					<span>I-nummer: I88888</span>
				</p>
		</li>
		<li class="vgr-search-list__item">
			<h3 class="vgr-search-list__headline"><a href="/">Marcus Österberg</a></h3>
				<p>
					<span class="vgr-search-list__meta-label">Jobbar på Enhet ehälsa</span><br>
					<span>Postadress: Lillhagsparken 5, 123 45 Göteborg</span><br>
					<span>VGRID: maros13</span>
				</p>
				<p>
					<span class="vgr-search-list__meta-label">Ekonomiska uppgifter</span><br>
					<span>Ansvar: 39999</span><br>
					<span>Beställar-ID: 39999 xx</span><br>
					<span>I-nummer: I99999</span>
				</p>
		</li>
	</ul>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{{ baseurl }}/js/typeahead.js"></script>
	<script>
		// All of the JavaScript below is just for prototyping.
		var substringMatcher = function(strs) {
		  return function findMatches(q, cb) {
		    var matches, substringRegex;
		    // an array that will be populated with substring matches
		    matches = [];
		    // regex used to determine if a string contains the substring `q`
		    substrRegex = new RegExp(q, 'i');
		    // iterate through the pool of strings and for any string that
		    // contains the substring `q`, add it to the `matches` array
		    $.each(strs, function(i, str) {
		      if (substrRegex.test(str)) {
		        matches.push(str);
		      }
		    });
		    cb(matches);
		  };
		};
		var states = ['Ale',
		'Alingsås',
		'Bengtsfors',
		'Bollebygd',
		'Borås',
		'Dals-Ed',
		'Essunga',
		'Falköping',
		'Färgelanda',
		'Grästorp',
		'Gullspång',
		'Göteborg',
		'Götene',
		'Herrljunga',
		'Hjo',
		'Härryda',
		'Karlsborg',
		'Kungälv',
		'Lerum',
		'Lidköping',
		'LillaEdet',
		'Lysekil',
		'Mariestad',
		'Mark',
		'Mellerud',
		'Munkedal',
		'Mölndal',
		'Orust',
		'Partille',
		'Skara',
		'Skövde',
		'Svenljunga',
		'Strömstad',
		'Sotenäs',
		'Stenungsund',
		'Tanum',
		'Tibro',
		'Tidaholm',
		'Tjörn',
		'Tranemo',
		'Trollhättan',
		'Töreboda',
		'Uddevalla',
		'Ulricehamn',
		'Vara',
		'Vårgårda',
		'Vänersborg',
		'Åmål',
		'Öckerö'
		];
		$('.typeahead').typeahead({
		  hint: true,
		  highlight: true,
		  minLength: 2
		},
		{
		  name: 'states',
		  source: substringMatcher(states)
		});
		$(".vgr-search-list__current").click(function() {
			$(this).toggleClass("selected");
			$(this).next(".vgr-search-list__hours").slideToggle();
		});
		if (navigator.geolocation) {
			$('#vgr-location').show();
		} else {
			//
		}
		$(".vgr-hide-message").click(function() {
			$('#vgr-location').hide();
		});
		function getPosition(position) {
			user_lat	= position.coords.latitude;
			user_long = position.coords.longitude;
			console.log(user_lat);
			console.log(user_long);
		}
		$(".vgr-get-position").click(function() {
			$('#vgr-location').hide();
			navigator.geolocation.getCurrentPosition(getPosition);
		});
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.min.js"></script>

</body>
</html>