{% set title = "Header" %}
{% set mainPage = "components" %}
{% set subPage = "header" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "components/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Header <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/components/_header.scss" class="sg-file">_header.scss</a></h1>

	<div class="sg-section">

		<header class="vgr-header" role="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						Header
					</div>
				</div>
			</div>
		</header>

{% call pattern('Pattern') %}
<header class="vgr-header" role="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				Header
			</div>
		</div>
	</div>
</header>
{% endcall %}

{% endblock %}
