<!DOCTYPE html>
<html class="no-js" lang="sv">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ _target.label }} - {{ _config.project.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');

    </script>
    <link rel="stylesheet" href="{{ '/css/main.css' | path }}">
    <link rel="mask-icon" href="{{ '/mask-icon.svg' | path }}" color="#990000">
    <script src="{{ '/js/main.js' | path }}" defer=""></script>
    <link rel="stylesheet" href="{{ '/css/preview.css' }}">
    <!-- Highlight JS + Tidy -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ '/theme/js/lib/highlightjs/styles/github.css' | path }}">
    <script src="{{ '/theme/js/lib/highlightjs/highlight.pack.js' | path }}"></script> -->
    <script src='http://lovasoa.github.io/tidy-html5/tidy.js'></script>
    <script>
    window.onload = function() {
      var previewTags = document.getElementsByClassName('preview');
      var i = 0;
      var l = previewTags.length;
      for (i; i < l; i++) {
        var block = previewTags[i];

        var newPreTag = document.createElement("pre");
        newPreTag.className = "preview__html html";
        newPreTag.innerHTML = block.innerHTML;
        block.appendChild(newPreTag);

        var newTitle = document.createElement("h1");
        newTitle.className = "preview__title";
        newTitle.innerHTML = block.getAttribute("data-title");
        block.insertBefore(newTitle, block.firstChild);

        var content = newPreTag.innerHTML;
        content = content.trim();
        // // content = content.replace(/\n\n/g, "\n");
        // // content = content.replace(/\n\n\n/g, "\n");
        // // content = content.replace(/\n\n\n\n/g, "\n");
        // // content = content.replace( /\s\s+/g, ' ' );
        // // content = content.replace(/\s{2,}/g, ' ');
        // content = content.replace(/\n\s*\n/g, '\n');
        // content = content.replace(/\n\s*\n\s*\n/g, '\n\n');
        // content = content.replace(/(\n\s*?\n)\s*\n/, '$1');
        // // content = content.replace(/\n{2,}/g, '\n');​​​​​​​
        // // content = content.replace(/[\r\n]+/g, '\n\n'); //double

        content = tidy_html5(content, {
          "indent": "auto",
          "indent-spaces": 2,
          "wrap": 80,
          "markup": true,
          "output-xml": false,
          "numeric-entities": true,
          "quote-marks": true,
          "quote-nbsp": false,
          "show-body-only": true,
          "quote-ampersand": false,
          "break-before-br": true,
          "uppercase-tags": false,
          "uppercase-attributes": false,
          "drop-font-tags": true,
          "tidy-mark": false
        });

        content = content.replace(/\n\s*\n/g, '\n');
        content = content.replace(/\n\s*\n\s*\n/g, '\n\n');
        content = content.replace(/[\r\n]+/g, '\n');

        content = content.replace(/</g, "&lt;").replace(/>/g, "&gt;"); //encodeHTML
        newPreTag.innerHTML = content;
        hljs.highlightBlock(newPreTag);
      }
    };

    </script>
    <!-- End Highlight JS + Tidy -->
  </head>

  <body>
    {{ yield }}
  </body>

</html>
