<footer class="vgr-footer" role="contentinfo">
  <div class="vgr-container vgr-clearfix">
    <div class="vgr-row">
      {% for item in items %}
        <div class="col-md-4">

          <div class="vgr-block vgr-block--default">
            <div class="vgr-block__container">
              <div class="vgr-block__header">
                <h2 class="vgr-block__header-heading">
                  {% if item.icon %}
                    <svg class="vgr-icon vgr-icon--"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/sprite/icons.svg#{{item.icon}}"></use></svg>
                  {% endif %}
                  {{ item.title }}
                </h2>
              </div>

              <div class="vgr-block__content">
                <div class="vgr-block__text">
                  {{ item.content }}
                </div>
              </div>

            </div>
          </div>
          <!-- {% render "@block", item.blockData, true %} -->
        </div>
      {% endfor %}
    </div>
  </div>
</footer>
