/* ==========================================================================
   Typography
   ========================================================================== */

html {
  font-family: $secondary-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background: $color-gray-light;

  @media screen and (max-width: 1560px) and (min-width: 1024px) { font-size: 1.125rem; }
  @media screen and (min-width: 1560px) { font-size: 1.25rem; }
}

p {
  font-family: $primary-font-stack;
  font-size: $large-font-size;
  margin: 0 0 1.25rem;
  max-width: 35em;
}
