/* ==========================================================================
   Typography
   ========================================================================== */

html {
  font-family: $secondary-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background: $color-gray-light;
}

p {
  font-family: $primary-font-stack;
  font-size: $large-font-size;
  margin: 0 0 1.25rem;
  max-width: 35em;
}
