{% set title = "Variables" %}
{% set mainPage = "base" %}
{% set subPage = "variables" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Variables</h1>

	<p class="sg-paragraph">Full list of all predefined variables.</p>

	<h2 class="sg-header-2">Fonts</h2>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Variable</th>
				<th>Default value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code class="sg-code">$primary-font-stack</code></td>
				<td>Georgia, serif</td>
			</tr>
			<tr>
				<td><code class="sg-code">$secondary-font-stack</code></td>
				<td>Helvetica, sans-serif.</td>
			</tr>
		</tbody>
	</table>

	<h2 class="sg-header-2">Font Sizes</h2>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Variable</th>
				<th>Default value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code class="sg-code">$base-font-size</code></td>
				<td>100%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$base-line-height</code></td>
				<td>150%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$base-font-weight</code></td>
				<td>400</td>
			</tr>
		</tbody>
	</table>


	<h2 class="sg-header-2">Colors</h2>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Variable</th>
				<th>Default value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code class="sg-code">$primary-text-color</code></td>
				<td>#494746</td>
			</tr>
			<tr>
				<td><code class="sg-code">$color-lightest</code></td>
				<td>#fff</td>
			</tr>
			<tr>
				<td><code class="sg-code">$color-darkest</code></td>
				<td>#000</td>
			</tr>
		</tbody>
	</table>

	<h2 class="sg-header-2">Breakpoints</h2>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Variable</th>
				<th>Default value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code class="sg-code">$tiny</code></td>
				<td>320px</td>
			</tr>
			<tr>
				<td><code class="sg-code">$small</code></td>
				<td>640px</td>
			</tr>
			<tr>
				<td><code class="sg-code">$medium</code></td>
				<td>768px</td>
			</tr>
			<tr>
				<td><code class="sg-code">$large</code></td>
				<td>1024px</td>
			</tr>
			<tr>
				<td><code class="sg-code">$extra-large</code></td>
				<td>1560px</td>
			</tr>
		</tbody>
	</table>

	<h2 class="sg-header-2">Sizes</h2>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Variable</th>
				<th>Default value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code class="sg-code">$max-width</code></td>
				<td>1440px</td>
			</tr>
			<tr>
				<td><code class="sg-code">$gutter-width</code></td>
				<td>15px</td>
			</tr>
		</tbody>
	</table>

	<h2 class="sg-header-2">Grid Column Widths</h2>

	<table class="vgr-table">
		<thead>
			<tr>
				<th>Variable</th>
				<th>Default value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code class="sg-code">$col-1</code></td>
				<td>8.333%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-2</code></td>
				<td>16.667%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-3</code></td>
				<td>25%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-4</code></td>
				<td>33.333%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-5</code></td>
				<td>41.667%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-6</code></td>
				<td>50%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-7</code></td>
				<td>58.333%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-8</code></td>
				<td>66.667%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-9</code></td>
				<td>75%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-10</code></td>
				<td>83.333%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-11</code></td>
				<td>91.667%</td>
			</tr>
			<tr>
				<td><code class="sg-code">$col-12</code></td>
				<td>100%</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
