{% include "base/icons/icon-sg-template.nunjucks" %}


{% set title = "Icons" %}
{% set mainPage = "base" %}
{% set subPage = "icons" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Icons <a href="https://github.com/Vastra-Gotalandsregionen/vgr-icons" class="sg-file">VGR Icons</a></h1>

	<p class="sg-paragraph">Avoid unnecessary decoration - only use icons and images if there's a real user need.</p>

	<h2 class="sg-header-2">Usage</h2>
	<code class="sg-code">&lt;svg class="vgr-icon"&gt;&lt;use xlink:href="/icons/icons.svg#ICON"&gt;&lt;/use&gt;&lt;/svg&gt;</code>

	<div class="sg-icon-holder vgr-clearfix">

		{{ icon("accessible") }}
		{{ icon("chevron-down") }}
		{{ icon("error") }}
		{{ icon("ic_add_circle_outline") }}
		{{ icon("ic_brightness_medium") }}
		{{ icon("ic_close") }}
		{{ icon("ic_content_paste") }}
		{{ icon("ic_event_note") }}
		{{ icon("ic_format_list_numbered") }}
		{{ icon("ic_hearing") }}
		{{ icon("ic_home") }}
		{{ icon("ic_info_outline") }}
		{{ icon("ic_list") }}
		{{ icon("ic_mail_outline") }}
		{{ icon("ic_menu") }}
		{{ icon("ic_open_in_browser") }}
		{{ icon("ic_phone_iphone") }}
		{{ icon("ic_phone") }}
		{{ icon("ic_picture_in_picture") }}
		{{ icon("ic_public") }}
		{{ icon("ic_remove_circle_outline") }}
		{{ icon("ic_search") }}
		{{ icon("ic_subject") }}
		{{ icon("ic_view_comfy") }}
		{{ icon("info") }}
		{{ icon("map-pin") }}
		{{ icon("rss-updates-subscription") }}
		{{ icon("success") }}
		{{ icon("warning") }}

	</div>

{% endblock %}
