{% include "base/icons/icon-sg-template.nunjucks" %}

{% set title = "Icons" %}
{% set mainPage = "base" %}
{% set subPage = "icons" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Icons <a href="https://github.com/Vastra-Gotalandsregionen/vgr-icons" class="sg-file">VGR Icons</a></h1>

	<p class="sg-paragraph">Avoid unnecessary decoration - only use icons and images if there's a real user need.</p>

	<h2 class="sg-header-2">Usage</h2>
	<code class="sg-code">&lt;svg class="vgr-icon"&gt;&lt;use xlink:href="/icons/icons.svg#icon-name"&gt;&lt;/use&gt;&lt;/svg&gt;</code>

	<h2 class="sg-header-2">List of Icons</h2>

	<div class="sg-icon-holder vgr-clearfix">

		{{ sgIcon("accessible") }}
		{{ sgIcon("chevron-down") }}
		{{ sgIcon("error") }}
		{{ sgIcon("ic_add_circle_outline") }}
		{{ sgIcon("ic_brightness_medium") }}
		{{ sgIcon("ic_build") }}
		{{ sgIcon("ic_close") }}
		{{ sgIcon("ic_content_paste") }}
		{{ sgIcon("ic_done") }}
		{{ sgIcon("ic_event_note") }}
		{{ sgIcon("ic_format_list_numbered") }}
		{{ sgIcon("ic_hearing") }}
		{{ sgIcon("ic_home") }}
		{{ sgIcon("ic_info_outline") }}
		{{ sgIcon("ic_list") }}
		{{ sgIcon("ic_mail_outline") }}
		{{ sgIcon("ic_menu") }}
		{{ sgIcon("ic_open_in_browser") }}
		{{ sgIcon("ic_palette") }}
		{{ sgIcon("ic_phone_iphone") }}
		{{ sgIcon("ic_phone") }}
		{{ sgIcon("ic_picture_in_picture") }}
		{{ sgIcon("ic_public") }}
		{{ sgIcon("ic_query_builder") }}
		{{ sgIcon("ic_remove_circle_outline") }}
		{{ sgIcon("ic_search") }}
		{{ sgIcon("ic_subject") }}
		{{ sgIcon("ic_view_comfy") }}
		{{ sgIcon("info") }}
		{{ sgIcon("map-pin") }}
		{{ sgIcon("rss-updates-subscription") }}
		{{ sgIcon("sign-language") }}
		{{ sgIcon("success") }}
		{{ sgIcon("warning") }}

	</div>

{% endblock %}
