{% set title = "Icons" %}
{% set mainPage = "base" %}
{% set subPage = "icons" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Icons <a href="https://github.com/Vastra-Gotalandsregionen/vgr-icons" class="sg-file">VGR Icons</a></h1>

	<p class="sg-paragraph">Avoid unnecessary decoration - only use icons and images if there's a real user need.</p>

	<h2 class="sg-header-2">Usage</h2>
	<code class="sg-code">&lt;svg class="vgr-icon"&gt;&lt;use xlink:href="/icons/icons.svg#ICON"&gt;&lt;/use&gt;&lt;/svg&gt;</code>

	<div class="sg-icon-holder vgr-clearfix">

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#accessible"></use></svg>
			</div>
			<span class="sg-icon-name">accessibility</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#error"></use></svg>
			</div>
			<span class="sg-icon-name">error</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#info"></use></svg>
			</div>
			<span class="sg-icon-name">info</span>
		</div>


		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#success"></use></svg>
			</div>
			<span class="sg-icon-name">success</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#warning"></use></svg>
			</div>
			<span class="sg-icon-name">warning</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_subject_black_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_subject_black_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_search_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_search_white_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_public_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_public_white_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_phone_iphone_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_phone_iphone_white_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_menu_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_menu_white_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_list_black_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_list_black_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_info_outline_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_list_black_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_home_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_home_white_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_hearing_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_hearing_white_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_close_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_close_white_24px</span>
		</div>

		<div class="sg-icon">
			<div class="sg-icon-wrapper">
				<svg class="vgr-icon"><use xlink:href="{{ baseurl }}/icons/icons.svg#ic_brightness_medium_white_24px"></use></svg>
			</div>
			<span class="sg-icon-name">ic_brightness_medium_white_24px</span>
		</div>

	</div>

{% endblock %}
