/* ==========================================================================
   Elements Hr
   ========================================================================== */

hr {
  border : 0;
  height : 4px;
  background-color: $color-gray-base;
  margin : 1em 0;
}
