/* ==========================================================================
   Elements Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: $secondary-font-stack;
  line-height: 125%;
}

h1 {
  font-size: $h1;
  margin: 0 0 1.25rem;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h2 {
  font-size: $h2;
  font-weight: 400;
  margin: 2rem 0 .5rem;
}

h3 {
  font-size: $h3;
  font-weight: 400;
  margin: 2rem 0 .5rem;
}

h4 { font-size: $h4; }

h5 { font-size: $h5; }

h6 { font-size: $h6; }
