.vgr-autocomplete {

  $link-color: $theme-color;

  &__item {
    padding: 1rem;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #E6E6E6;

    @at-root {
      a#{&} {
        color: $text-color;

        .vgr-autocomplete__headline {
          color: $link-color;
        }

        &:hover,
        &:focus {
          background: $link-color;
          color: #fff;

          .vgr-autocomplete__headline,
          mark {
            color: #fff;
          }
        }
      }
    }
  }

  &__headline {
    margin: 0;
    font-size: .875rem;
  }

  &__id {
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }

  &__inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .8125rem;
  }

  &__inline-list-item {
    display: inline-block;
    margin-right: .625rem;
    white-space: nowrap;
  }

  &__inline-list-icon {
    vertical-align: text-bottom;
  }

  &__inline-list-title {
    display: none;

    @media screen and (min-width: $small) {
      display: inline;
    }
  }
}

// Aligned
.vgr-autocomplete__item--aligned {
  .vgr-autocomplete__inline-list {
    display: flex;
    flex-wrap: wrap;
  }

  .vgr-autocomplete__inline-list-item {
    flex: 1 0 auto;
  }
}


// Photo
.vgr-autocomplete__item--photo {
  display: flex;
}

.vgr-autocomplete__item-img {
  margin-right: .5rem;
  display: none;
  border-radius: .25rem;
  overflow: hidden;
  width: 3rem;
  height: 3rem;

  @media screen and (min-width: $small) {
    display: block;
  }
}
