{% set title = "Map" %}
{% set mainPage = "components" %}
{% set subPage = "map" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "components/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Map</h1>

	<div class="sg-section">
		<div id="vgr-map" class="vgr-search-map"></div>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
		<script>
			// initialize the map
			var map = L.map('vgr-map').setView([57.66754, 12.018218], 12);

			// load a tile layer
			L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png',
			{
				subdomains: 'abc',
				maxZoom: 16,
				minZoom: 1
			}).addTo(map);
		</script>

{% call pattern('Pattern') %}
<div id="vgr-map" class="vgr-search-map"></div>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
	// initialize the map
	var map = L.map('vgr-map').setView([57.66754, 12.018218], 12);

	// load a tile layer
	L.tileLayer('http://{s}.tile.openstreetmap.se/full/{z}/{x}/{y}.png',
	{
		subdomains: 'abc',
		maxZoom: 16,
		minZoom: 1
	}).addTo(map);
</script>


{% endcall %}

	</div>

{% endblock %}
