{% set title = "Prestandabudget" %}
{% set mainPage = "guidelines" %}
{% set subPage = "prestandabudget" %}
{% extends "_templates/base-guidelines.html" %}
{% block content %}

	<h1 class="sg-header-1">Prestandabudget och mätbar webbkvalitet för www.vgregion.se</h1>

	<div class="sg-paragraph">
		<p>Detta är inledande dokumentation och överenskommelse kring projektet för uppgradering till Episerver CMS samt det nya gränssnittet.</p>
		<p>Läs nedan krav som att de mäts med representativt innehåll på testsidor utvecklarna tar fram inför avstämning med projektets utsedda webbanalytiker. Dessa testsidor ska inte kunna påverkas nämnvärt av VGR:s redaktörer mellan testtillfällena, de ska vara jämförbara över tid.</p>

		<p>En leverans som misslyckas med dessa krav ska inte sättas i produktion och ska inte accepteras av VGR.</p>

		<h2>Värderingar, prioriteringar och prestation för hela webbplatsen</h2>
		<ol>
			<li>Följa designkonventionerna [progressive enhancement](https://en.wikipedia.org/wiki/Progressive_enhancement) samt mobile first, det vill säga fokusera på tillgänglighet först och finess sen, samt att det är det mobila scenariot som sätter behoven kring design och funktion.</li>
			<li>Funktion före form, och upplevelsen framför teknikaliteter. Det vill säga inkluderande design, både för funktionsnedsattas möjlighet att delta men också för att nå så många sorters utrustning som möjligt.</li>
		</ol>

		<h2>Mätbar prestandabudget</h2>
		<ul>
			<li>Max 399kb för en sidvisning.</li>
			<li>Under 3 sekunder för komplett laddning av sida, mätt från gynnsam trådad uppkoppling.</li>
			<li>Under 10 sekunder för komplett laddning av sida mätt på 3G-uppkoppling.</li>
		</ul>

		<h3>Lägstanivå på webb</h3>
		<p>Dessa punkter beskriver den lägsta accepterade nivå för första iterationen av www.vgregion.se, den nivån får inte försämras under kommande uppdateringar, snarare ska dessa krav skärpas till löpande i samråd med utvecklarna.</p>

		<p>Alla mallar/vyer/komponenter i webbplatsen skall som allra minst:</p>

		<ol>
			<li>Vara testade och säkrade mot WCAG 2 nivå AA.</li>
			<li>Anses vara mobilvänliga enligt Googles mobilvänlighetstest.</li>
			<li>Med exempelinnehåll uppvisa minst 85 av 100 i Google Pagespeed med mobila inställningar, och minst 90 för dator.</li>
			<li>Max 2 CSS-filer laddas in.</li>
			<li>Max 3 Javascript-filer laddas in.</li>
			<li>Använda CSS Sprites (eller motsvarande teknik) för att minska antalet bildfiler att ladda ner.</li>
			<li>Strukturell CSS-kod inkluderas i HTML-koden enligt god prestanda-praxis för snabb initial visning av innehållet.</li>
		</ol>

		<p>// Beslutad 2015-10-06</p>
	</div>

{% endblock %}
