{% set title = "Messages" %}
{% set mainPage = "base" %}
{% set subPage = "messages" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Messages</h1>

	<p class="sg-paragraph">Alerts messages keep users informed of important and sometimes time-sensitive changes.</p>

	<div class="sg-section">

		<div class="vgr-message vgr-message--success">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Success message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

		<div class="vgr-message vgr-message--warning">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Warning message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

		<div class="vgr-message vgr-message--error">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Error message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

		<div class="vgr-message vgr-message--info">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Information message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

	</div>

{% endblock %}
