{% from "_templates/icon-template.nunjucks" import icon %}

{% set title = "Messages" %}
{% set mainPage = "base" %}
{% set subPage = "messages" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Messages <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/objects/_messages.scss" class="sg-file">_messages.scss</a></h1>

	<p class="sg-paragraph">Alert messages keep users informed of important and sometimes time-sensitive changes.</p>

	<h2 class="sg-header-2">Alert messages</h2>
	<div class="sg-section">

		<div class="vgr-message vgr-message--success">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Success message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--success">
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Success message</strong>
		Totam officiis dolorum voluptatibus maxime molestiae iste.
	</p>
</div>
{% endcall %}
	</div>

	<div class="sg-section">

		<div class="vgr-message vgr-message--warning">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Warning message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>
{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--warning">
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Warning message</strong>
		Totam officiis dolorum voluptatibus maxime molestiae iste.
	</p>
</div>
{% endcall %}
	</div>

	<div class="sg-section">
		<div class="vgr-message vgr-message--error">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Error message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--error">
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Error message</strong>
		Totam officiis dolorum voluptatibus maxime molestiae iste.
	</p>
</div>
{% endcall %}
	</div>

	<div class="sg-section">
		<div class="vgr-message vgr-message--info">
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Information message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--info">
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Information message</strong>
		Totam officiis dolorum voluptatibus maxime molestiae iste.
	</p>
</div>
{% endcall %}
	</div>

	<h2 class="sg-header-2">Alert messages with icons</h2>
	<div class="sg-section">

		<div class="vgr-message vgr-message--success">
			{{ icon("success", class="vgr-message__icon") }}
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Success message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--success">
	{{ icon("success", class="vgr-message__icon") }}
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Success message</strong>
		Totam officiis dolorum voluptatibus maxime molestiae iste.
	</p>
</div>
{% endcall %}
	</div>

	<div class="sg-section">
		<div class="vgr-message vgr-message--warning">
			{{ icon("warning", class="vgr-message__icon") }}
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Warning message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--warning">
	{{ icon("warning", class="vgr-message__icon") }}
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Warning message</strong>
		Totam officiis dolorum voluptatibus maxime molestiae iste.
	</p>
</div>
{% endcall %}
	</div>

	<div class="sg-section">
		<div class="vgr-message vgr-message--error">
			{{ icon("error", class="vgr-message__icon") }}
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Error message</strong>
				Totam officiis dolorum <a href="/">voluptatibus</a> maxime molestiae iste.
			</p>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--error">
	{{ icon("error", class="vgr-message__icon") }}
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Error message</strong>
		Totam officiis dolorum <a href="/">voluptatibus</a> maxime molestiae iste.
	</p>
</div>
{% endcall %}
	</div>

	<div class="sg-section">
		<div class="vgr-message vgr-message--info">
			{{ icon("info", class="vgr-message__icon") }}
			<p class="vgr-message__description">
				<strong class="vgr-message__title">Information message</strong>
				Totam officiis dolorum voluptatibus maxime molestiae iste.
			</p>
		</div>

{% call pattern('Pattern') %}
<div class="vgr-message vgr-message--info">
	{{ icon("info", class="vgr-message__icon") }}
	<p class="vgr-message__description">
		<strong class="vgr-message__title">Information message</strong>
		Totam officiis dolorum voluptatibus maxime molestiae iste.
	</p>
</div>
{% endcall %}

	</div>

{% endblock %}
