{% set title = "Starter Project" %}
{% set mainPage = "getting-started" %}
{% set subPage = "for-designers" %}
{% extends "_templates/base-getting-started.html" %}
{% block content %}

	<h1 class="sg-header-1">For designers</h1>
	<p class="sg-paragraph">Instructions for designers is a work in progress!</p>
	<h2>Expectations on you as a designer</h2>
	<p>The style-guide is here to assist you as a designer. For instance we have already decided <a href="/vgr-styleguide/base/colors/">which colors and themes we accept</a> and we encourage you to re-use as many <a href="/vgr-styleguide/components/">design components</a> as possible for the project you're involved with.</p>
	<p>Please adhere to our <a href="/vgr-styleguide/base/typography/">typography</a>!</p>
	<p>When designing new components they have to pass at least WCAG 2.0 level AA. When delivering visual comps we expect you to, beforehand, have checked the contrasts, etc, and state to the client if the comps passed the test.</p>
	<p>Our <a href="/vgr-styleguide/guidelines/prestandabudget/">performance budget</a> insists on designing for mobile first. As a designer you're supposed to design primarily for the mobile usecase and possibly complement with usecases for larger screens and users without touchscreens. The performance budget also defines that all pages have to be <a href="https://www.google.com/webmasters/tools/mobile-friendly/">mobile-friendly according to Google</a>, that means the design has to respect the viewport, not rely on tables, iframes etc.</p>
	<h2>Want to contribute with design components?</h2>
	<p>To contribute a design component to our library or help out with our guidelines, please contact kenny.stolpe(a)vgregion.se</p>
{% endblock %}