.sg-billboard {
	padding-top: $default-whitespace*4;
	padding-bottom: $default-whitespace*4;
	font-family: $secondary-font-stack;
	background-color: $theme-color;
	color: $theme-on-color;

	@media screen and (min-width: $medium) {
		background-size: 75%;
		background-repeat: no-repeat;
		background-position: 125% 50%;
		background-image: url(/img/decorative.svg);
	}
}
