.sg-grid-demo {
	font-size: 14px;
	font-family: $secondary-font-stack;

	.demo-box {
		overflow: hidden;
	}

	.row {
		background: rgba(213, 238, 251, .8);
	}

	.row [class^="col-"] {
		padding: $gutter-width;
	}
	.row [class^="col-"] div {
		padding: 5px;
		background: rgba(168, 203, 221, .8);
		text-align: center;
	}
}
