.sg-footer {

	&__navigation {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline;
			margin: 0 1rem 0 0;
		}

		[data-selected] {
			color: $color-black;
			text-decoration: underline;
			font-weight: 700;
		}

		@media print {
			display: none;
		}
	}

	&__description {
		margin: 1rem 0 0;
	}
}
