.sg-footer {
	padding: 3rem 1rem;
	border-top: 1px solid #ddd;
	background: $theme-color;
	color: $theme-on-color;
	text-align: center;
	font-family: $secondary-font-stack;

	a {
		display: inline;
		text-decoration: underline;
		color: $theme-on-color;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&__navigation {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline;
			margin: 0 1rem 0 0;
		}

		[data-selected] {
			color: $color-black;
			text-decoration: underline;
			font-weight: 700;
		}

		@media print {
			display: none;
		}
	}

	&__description {
		margin: 1rem 0 0;
	}
}
