.sg-footer {
	padding: 3rem 1rem;
	border-top: 1px solid #ddd;
	background: lighten($primary-text-color, 100%);
	text-align: center;
	font-family: $secondary-font-stack;

	&__navigation {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline;
			margin: 0 1rem 0 0;
		}

		[data-active] {
			color: $color-darkest;
			text-decoration: underline;
			font-weight: 700;
		}

		a {
			display: inline;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		@media print {
			display: none;
		}
	}

	&__description {
		margin: 1rem 0 0;
	}
}
