/* Import Theme */
@import 'vgr-base/themes/theme-1.scss';

/* Import Base */
@import 'vgr-base/base.scss';
@import 'base';

@import 'footer';
@import 'topbar';
@import 'billboard';
@import 'navigation';
@import 'grid';
@import 'demo';

html {
	font-family: $primary-font-stack;
}

h1 {
	@extend .clearfix;

	@media print {
		display: none;
	}
}

.sg-main {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.sg-ok,
.sg-no {
	display: block;
	text-align: center;
}

.sg-ok {
	color: darken($color-success, 60%);
}
.sg-no {
	color: darken($color-error, 60%);
}


.vgr-button {
	margin-bottom: 1em;
}
