.main-navigation {
	background: $theme-color-dark;
	color: $theme-on-color;
	font-size: .9rem;

	&__item {
		float: left;
		margin: 0;
		font-family: $secondary-font-stack;
	}

	&__link {
		display: block;
		padding: $default-whitespace;
		color: $theme-on-color;
		text-decoration: none;

		&[data-selected] {
			background: $theme-color-darkest;
		}

		&:hover,
		&:focus {
			background: $theme-on-color;
			text-decoration: underline;
		}
	}
}



.sg-sub-navigation {
	border-bottom: 1px solid #ddd;
	background: $color-white;
	background: linear-gradient(to bottom, #fff 0%, #fefefe 100%);
	text-align: center;
	font-family: $secondary-font-stack;

	div {
		margin: 0 auto;
		max-width: $max-width;
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		justify-content: center;
	}

	li {
		float: left;
		margin: 0 .5rem;

		flex: none;
	}

	a {
		position: relative;
		display: block;
		padding: 1rem;
		color: $color-black;
		text-decoration: none;
		transition: color .1s ease-in;

		&:after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			content: "";
			transition: height .1s ease-in;

			$theme-color: $text-color !default;

			@if variable-exists(theme-1-primary-color) {
				$theme-color: $theme-1-primary-color;
			}

			@if variable-exists(theme-2-primary-color) {
				$theme-color: $theme-2-primary-color;
			}

			@if variable-exists(theme-3-primary-color) {
				$theme-color: $theme-3-primary-color;
			}

			@if variable-exists(theme-4-primary-color) {
				$theme-color: $theme-4-primary-color;
			}

			@if variable-exists(theme-5-primary-color) {
				$theme-color: $theme-5-primary-color;
			}

			background-color: $theme-color;
			color: $theme-color;
		}

		&:hover,
		&[data-selected] {

			$theme-color: $text-color !default;
			@if variable-exists(theme-1-primary-color) {
				$theme-color: $theme-1-primary-color;
			}

			@if variable-exists(theme-2-primary-color) {
				$theme-color: $theme-2-primary-color;
			}

			@if variable-exists(theme-3-primary-color) {
				$theme-color: $theme-3-primary-color;
			}

			@if variable-exists(theme-4-primary-color) {
				$theme-color: $theme-4-primary-color;
			}

			@if variable-exists(theme-5-primary-color) {
				$theme-color: $theme-5-primary-color;
			}

			color: $theme-color;

			&:after,
			&:active,
			&:focus {
				height: 4px;
			}
		}
	}

	@media print {
		display: none;
	}
}


.sg-sidebar-navigation {
	margin-bottom: $default-whitespace*2;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: $color-white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	font-size: .875rem;
	font-family: $secondary-font-stack;

	.sg-sidebar-navigation__label {
		margin: 0;
		padding: 1rem;
		border-bottom: 1px solid #ddd;
		background: $theme-color;
		color: $theme-on-color;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.5;
	}



	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;
		border-bottom: 1px solid #ddd;
	}

	a {
		display: block;
		padding: .7rem .5rem;
		text-decoration: none;
		line-height: 100%;
	}

	[data-selected] {
		color: $color-black;
		text-decoration: underline;
		font-weight: 700;
	}

	@media print {
		display: none;
	}
}
