/* Styleguide - Topbar
	 ========================================================================== */

.sg-topbar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ddd;
	background: $color-lightest;
	background: linear-gradient(to bottom, #fff 0%, #fefefe 100%);
	font-size: .875rem;
	font-family: $secondary-font-stack;

	&__title {
		color: $primary-text-color;
		text-decoration: none;

		span {
			font-weight: 700;
		}
	}

	&__title {
		display: block;
	}
}


/* Alpha Alert Message
	 ========================================================================== */
.sg-alpha-message {
	padding: .5rem 1rem;
	text-align: center;
	font-size: $small-font-size;
	font-family: $secondary-font-stack;

	$color: $color-lightest !default;
	$background-color: $primary-text-color !default;

	@if variable-exists(theme-1-primary-color) {
		$background-color: $theme-1-theme-color-darkest;
	}

	@if variable-exists(theme-2-primary-color) {
		$background-color: $theme-2-theme-color-darkest;
	}

	@if variable-exists(theme-3-primary-color) {
		$background-color: $theme-3-theme-color-darkest;
	}

	@if variable-exists(theme-4-primary-color) {
		$background-color: $theme-4-theme-color-darkest;
		$color: $color-darkest;
	}

	background-color: $background-color;
	color: $color;

	p {
		margin: 0;
	}

	a {
		color: $color;
	}
}
