/* Styleguide - Topbar
	 ========================================================================== */

.sg-topbar {
	padding-top: $default-whitespace;
	padding-bottom: $default-whitespace;
	background: $theme-on-color;
	font-size: .875rem;
	font-family: $secondary-font-stack;

	&__title {
		display: inline-block;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		span {
			font-weight: 700;
		}
	}
}


/* Alpha Alert Message
	 ========================================================================== */
.sg-alpha-message {
	padding: .5rem 1rem;
	text-align: center;
	font-size: $small-font-size;
	font-family: $secondary-font-stack;

	background-color: $theme-color;
	color: $theme-color;

	p {
		margin: 0;
	}

	a {
		color: $theme-color;
	}
}
