{% set title = "Themes" %}
{% set mainPage = "base" %}
{% set subPage = "themes" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Themes  <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/" class="sg-file">/themes</a></h1>

	<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>

	<h2 class="sg-header-2">Theme 1 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-1.scss" class="sg-file">_theme-1.scss</a></h2>
	<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>

	<h2 class="sg-header-2">Theme 2 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-2.scss" class="sg-file">_theme-2.scss</a></h2>
	<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>

	<h2 class="sg-header-2">Theme 3 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-3.scss" class="sg-file">_theme-3.scss</a></h2>
	<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>

	<h2 class="sg-header-2">Theme 4 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-4.scss" class="sg-file">_theme-4.scss</a></h2>
	<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>

		<h2 class="sg-header-2">Theme 5 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-5.scss" class="sg-file">_theme-5.scss</a></h2>
		<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>
{% endblock %}
