{% set title = "Themes" %}
{% set mainPage = "base" %}
{% set subPage = "themes" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Themes  <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/" class="sg-file">/themes</a></h1>

	<h2 class="sg-header-2">Theme 1 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-1.scss" class="sg-file">_theme-1.scss</a></h2>

<div class="sg-markup-extra">
<pre><code class="language-css">$theme-color: #005c95;
$theme-on-color: #fff;
$theme-color-dark: #094e79;
$theme-color-darkest: #06304a;
$theme-color-light: #06304a;
$theme-link-color: $theme-color;
$theme-focus-color: #fabb00;
$theme-color-complementary: #278900;</code></pre>
</div>

	<h2 class="sg-header-2">Theme 2 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-2.scss" class="sg-file">_theme-2.scss</a></h2>

<div class="sg-markup-extra">
<pre><code class="language-css">$theme-color: #a7022c;
$theme-on-color: #fff;
$theme-color-dark: #840928;
$theme-color-darkest: #4b0706;
$theme-color-light: #d7f0ff;
$theme-link-color: #a7022c;
$theme-focus-color: #fabb00;
$theme-color-complementary: #00B219;</code></pre>
</div>

	<h2 class="sg-header-2">Theme 3 <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/themes/theme-3.scss" class="sg-file">_theme-3.scss</a></h2>

<div class="sg-markup-extra">
<pre><code class="language-css">$theme-color: #2d5f18;
$theme-on-color: #fff;
$theme-color-dark: #245012;
$theme-color-darkest: #103404;
$theme-color-light: #d7f0ff;
$theme-link-color: #2d5f18;
$theme-focus-color: #fabb00;
$theme-color-complementary: #B200A5;</code></pre>
</div>

	<h2 class="sg-header-2">Theme 4</h2>
	<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>

		<h2 class="sg-header-2">Theme 5</h2>
		<p class="sg-paragraph"><em class="vgr-badge sg-badge-todo">TODO</em></p>
{% endblock %}
