{% set title = "Pagination" %}
{% set mainPage = "components" %}
{% set subPage = "pagination" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "components/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Pagination</h1>

	<div class="sg-section">

		<ul class="vgr-pagination" aria-label="Paginering">
			<li><a href="/" aria-label="Previous page">Föregående <span class="vgr-visually-hidden">sida</span></a></li>
			<li><a href="/" aria-label="Sida 1">1</a></li>
			<li class="current"><span class="vgr-visually-hidden">Du befinner dig på sida</span> 2</li>
			<li><a href="/" aria-label="Sida 3">3</a></li>
			<li><a href="/" aria-label="Sida 4">4</a></li>
			<li><a href="/" aria-label="Sida 5">5</a></li>
			<li class="vgr-pagination__next">
				<a href="/" aria-label="Nästa sida">Nästa <span class="vgr-visually-hidden">sida</span></a>
			</li>
		</ul>

{% call pattern('Pattern') %}
<ul class="vgr-pagination" aria-label="Paginering">
	<li><a href="/" aria-label="Previous page">Föregående <span class="vgr-visually-hidden">sida</span></a></li>
	<li><a href="/" aria-label="Sida 1">1</a></li>
	<li class="current"><span class="vgr-visually-hidden">Du befinner dig på sida</span> 2</li>
	<li><a href="/" aria-label="Sida 3">3</a></li>
	<li><a href="/" aria-label="Sida 4">4</a></li>
	<li><a href="/" aria-label="Sida 5">5</a></li>
	<li class="vgr-pagination__next">
		<a href="/" aria-label="Nästa sida">Nästa <span class="vgr-visually-hidden">sida</span></a>
	</li>
</ul>
{% endcall %}

	</div>

{% endblock %}
