{% set title = "Tables" %}
{% set mainPage = "base" %}
{% set subPage = "tables" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Tables <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/objects/_tables.scss" class="sg-file">_tables.scss</a></h1>

 	<div class="sg-paragraph">
		<p>Tables should be used when displaying tabular data. The <code>thead</code>, <code>tfoot</code> and <code>tbody</code> elements enable you to group rows within each a table.</p>
		<p>If you use these elements, you must use every element. They should appear in this order: <code>thead</code>, <code>tfoot</code> and <code>tbody</code>, so that browsers can render the foot before receiving all the data. You must use these elements within the table element.</p>
	</div>

	<h2 class="sg-header-2">Default</h2>

	<div class="sg-section">

		<table class="vgr-table">
			<caption>Table caption</caption>
			<thead>
				<tr>
					<th scope="col">Document title</th>
					<th scope="col">Description</th>
					<th scope="col">Number</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lorem ipsum dolor sit amet</td>
					<td>Pellentesque ullamcorper ullamcorper</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Sed fringilla lobortis</td>
					<td>Interdum et malesuada fames ac ante </td>
					<td>2</td>
				</tr>
				<tr>
					<td>Aenean in justo</td>
					<td>Pulvinar sit amet viverra ac</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Duis auctor mi ut</td>
					<td>Aenean sit amet</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Quisque mauris urna</td>
					<td>Nunc elit metus, mattis in consectetur</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Cras aliquet metus felis</td>
					<td>Nullam luctus est nec maximus</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Mauris sit amet</td>
					<td>Integer vitae mi in nisi</td>
					<td>7</td>
				</tr>
				<tr>
					<td>Phasellus porta varius</td>
					<td>Aliquam scelerisque</td>
					<td>8</td>
				</tr>
				<tr>
					<td>Sed justo ante</td>
					<td>Nullam semper ex sed quam</td>
					<td>9</td>
				</tr>
				<tr>
					<td>Donec sed gravida</td>
					<td>Nunc mollis augue ac</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Nunc cursus magna</td>
					<td>Integer dapibus leo non commodo</td>
					<td>11</td>
				</tr>
				<tr>
					<td>Morbi in luctus neque</td>
					<td>Nam purus dui auctor</td>
					<td>12</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h2 class="sg-header-2">Zebra Table</h2>

	<div class="sg-section">

		<table class="vgr-table vgr-table--zebra">
			<caption>Table caption</caption>
			<thead>
				<tr>
					<th scope="col">Document title</th>
					<th scope="col">Description</th>
					<th scope="col">Number</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lorem ipsum dolor sit amet</td>
					<td>Pellentesque ullamcorper ullamcorper</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Sed fringilla lobortis</td>
					<td>Interdum et malesuada fames ac ante </td>
					<td>2</td>
				</tr>
				<tr>
					<td>Aenean in justo</td>
					<td>Pulvinar sit amet viverra ac</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Duis auctor mi ut</td>
					<td>Aenean sit amet</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Quisque mauris urna</td>
					<td>Nunc elit metus, mattis in consectetur</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Cras aliquet metus felis</td>
					<td>Nullam luctus est nec maximus</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Mauris sit amet</td>
					<td>Integer vitae mi in nisi</td>
					<td>7</td>
				</tr>
				<tr>
					<td>Phasellus porta varius</td>
					<td>Aliquam scelerisque</td>
					<td>8</td>
				</tr>
				<tr>
					<td>Sed justo ante</td>
					<td>Nullam semper ex sed quam</td>
					<td>9</td>
				</tr>
				<tr>
					<td>Donec sed gravida</td>
					<td>Nunc mollis augue ac</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Nunc cursus magna</td>
					<td>Integer dapibus leo non commodo</td>
					<td>11</td>
				</tr>
				<tr>
					<td>Morbi in luctus neque</td>
					<td>Nam purus dui auctor</td>
					<td>12</td>
				</tr>
			</tbody>
		</table>

	</div>

	<h2 class="sg-header-2">Bordered Table</h2>

	<div class="sg-section">

		<table class="vgr-table vgr-table--bordered">
			<caption>Table caption</caption>
			<thead>
				<tr>
					<th scope="col">Document title</th>
					<th scope="col">Description</th>
					<th scope="col">Number</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lorem ipsum dolor sit amet</td>
					<td>Pellentesque ullamcorper ullamcorper</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Sed fringilla lobortis</td>
					<td>Interdum et malesuada fames ac ante </td>
					<td>2</td>
				</tr>
				<tr>
					<td>Aenean in justo</td>
					<td>Pulvinar sit amet viverra ac</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Duis auctor mi ut</td>
					<td>Aenean sit amet</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Quisque mauris urna</td>
					<td>Nunc elit metus, mattis in consectetur</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Cras aliquet metus felis</td>
					<td>Nullam luctus est nec maximus</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Mauris sit amet</td>
					<td>Integer vitae mi in nisi</td>
					<td>7</td>
				</tr>
				<tr>
					<td>Phasellus porta varius</td>
					<td>Aliquam scelerisque</td>
					<td>8</td>
				</tr>
				<tr>
					<td>Sed justo ante</td>
					<td>Nullam semper ex sed quam</td>
					<td>9</td>
				</tr>
				<tr>
					<td>Donec sed gravida</td>
					<td>Nunc mollis augue ac</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Nunc cursus magna</td>
					<td>Integer dapibus leo non commodo</td>
					<td>11</td>
				</tr>
				<tr>
					<td>Morbi in luctus neque</td>
					<td>Nam purus dui auctor</td>
					<td>12</td>
				</tr>
			</tbody>
		</table>

	</div>

{% endblock %}
