{% set title = "Links" %}
{% set mainPage = "base" %}
{% set subPage = "links" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Links <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/elements/_links.scss" class="sg-file">_links.scss</a></h1>

	<p>To make links screen reader-friendly, avoid using vague words like "here" or "read more" within link text. The text of the link itself should adequately describe where the link goes.</p>

	<div class="sg-section">

		<p>An <a href="/" class="prototype-random">unvisited link</a> and a <a href="">visited link</a>.</p>
		<p>An <a href="/" class="prototype-random" target="_blank">external link</a> and another <a href="/" class="prototype-random" target="_blank" aria-label="opens in a new window">external link</a>.</p>
		<p>A <a href="temp/test.pdf">link to a PDF</a>.</p>

	</div>

	<!-- Generate random link for this Styleguide -->
	<script>
		var elements = document.querySelectorAll('.prototype-random');
		Array.prototype.forEach.call(elements, function(el) {
			el.setAttribute('href', '?=' + (new Date().getTime()));
		});
	</script>

{% endblock %}
