{% set title = "Predefined Layouts" %}
{% set mainPage = "base" %}
{% set subPage = "predefined-layouts" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Predefined Layouts</h1>

	<ul>
		<li><a href="{{ baseurl }}/base/predefined-layouts/default/">Default Template</a></li>
		<li><a href="{{ baseurl }}/base/predefined-layouts/news-article/">News Article Template</a></li>
		<li><a href="{{ baseurl }}/base/predefined-layouts/article/">Article With Left hand navigation</a></li>
	</ul>

{% endblock %}
