{% set title = "Print" %}
{% set mainPage = "base" %}
{% set subPage = "print" %}
{% extends "_templates/base.html" %}

{% block navigation %}
	{% include "base/navigation.html" %}
{% endblock %}

{% block content %}

	<h1 class="sg-header-1">Print <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/base/_print.scss" class="sg-file">_print.scss</a></h1>
	<p>The styleguide includes print styles developed by <a href="https://github.com/h5bp/html5-boilerplate">HTML5 Boilerplate</a> to give you some basic print-specific styles. The print CSS are activated trough a media query. It includes:</p>

	<ul>
		<li>Clearing out backgrounds, box shadows and text shadows</li>
		<li>Appending link URLs after the anchor text</li>
		<li>Adding borders to <code class="sg-code">&lt;blockquote&gt;</code> and <code class="sg-code">&lt;pre&gt;</code> elements</li>
		<li>Page cleanup and window minimization</li>
	</ul>

{% endblock %}
