{% set title = "Mixins" %}
{% set mainPage = "base" %}
{% set subPage = "mixins" %}
{% extends "_templates/base.html" %}
{% block content %}

	<h1 class="sg-header-1">Mixins <a href="https://github.com/Vastra-Gotalandsregionen/vgr-base/blob/master/src/css/base/_mixins.scss" class="sg-file">_mixins.scss</a></h1>

	<p class="sg-paragraph">List of predefined mixins.</p>

	<h2 class="sg-header-2">Clearfix</h2>
	<p class="sg-paragraph">Make an element visually hidden, but accessible to assistive technology. See <a href="http://blog.teamtreehouse.com/a-better-clearfix-with-sass">http://blog.teamtreehouse.com/a-better-clearfix-with-sass</a> for more information.</p>

	<h3 class="sg-header-3">Usage</h3>
	<p class="sg-paragraph">Include in your CSS using <code class="sg-code">@extend .clearfix;</code> or use in your HTML using the class <code class="sg-code">clearfix</code>.</p>

	<h2 class="sg-header-2">Visually Hidden and Visually-hidden Focusable</h2>
	<p class="sg-paragraph">Make an element visually hidden, but accessible to assistive technology. See <a href="http://snook.ca/archives/html_and_css/hiding-content-for-accessibility">http://snook.ca/archives/html_and_css/hiding-content-for-accessibility</a> for more information.</p>

	<h3 class="sg-header-3">Usage</h3>
	<p class="sg-paragraph">Include in your CSS using <code class="sg-code">@extend .visually-hidden;</code> or use in your HTML using the class <code class="sg-code">visually-hidden</code>.</p>
	<p class="sg-paragraph">Include in your CSS using <code class="sg-code">@extend .visually-hidden--focusable;</code> or use in your HTML using the class <code class="sg-code">visually-hidden--focusable</code>.</p>

	<h2 class="sg-header-2">Print</h2>
	<p class="sg-paragraph">Include <code class="sg-code">@media print</code> to target style for printers.</p>

{% endblock %}
