<div class="sg-alpha-message">
	<p><em class="sg-badge-alpha">Pre-release</em> This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</p>
</div>

<div class="sg-topbar">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-6">
				<a href="/" class="sg-topbar__title">
					<span>Web Standards &amp; Styleguide</span> for Västra Götalands&shy;regionen
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 end-sm">
				<ul class="sg-primary__navigation">
	<li><a href="/getting-started" >Getting started</a></li>
	<li><a href="/guidelines" >Guidelines</a></li>
	<li><a href="/base" >Base</a></li>
	<li><a href="/components" >Components</a></li>
	<li><a href="https://github.com/Vastra-Gotalandsregionen/vgr-base" class="vgr-button">GitHub</a></li>
</ul>

			</div>

		</div>
	</div>
</div>
