<div class="col-xs-12 col-md-4 col-lg-3">
	<nav class="sg-sidebar-navigation" role="navigation">
		<div>
			<h2 class="sg-sidebar-navigation__label">Base</h2>
			<ul>
				<li><a href="/base/variables" >Variables</a></li>
				<li><a href="/base/mixins" >Mixins</a></li>
				<li><a href="/base/reset" >Reset</a></li>
				<li><a href="/base/colors" >Colors</a></li>
				<li><a href="/base/themes" >Themes</a></li>
				<li><a href="/base/print" >Print</a></li>
			</ul>
			<h2 class="sg-sidebar-navigation__label">Elements</h2>
			<ul>
				<li><a href="/base/typography" >Typography</a></li>
				<li><a href="/base/lists" >Lists</a></li>
			</ul>
			<h2 class="sg-sidebar-navigation__label">Objects</h2>
			<ul>
				<li><a href="/base/icons" >Icons</a></li>
				<li><a href="/base/media" >Media</a></li>
				<li><a href="/base/tables" >Tables</a></li>
				<li><a href="/base/forms" >Forms</a></li>
				<li><a href="/base/buttons" >Buttons</a></li>
				<li><a href="/base/badges" >Badges</a></li>
				<li><a href="/base/messages" >Messages</a></li>
			</ul>
			<h2 class="sg-sidebar-navigation__label">Layout</h2>
			<ul>
				<li><a href="/base/grid" >Grid</a></li>
				<li><a href="/base/predefined-layouts" >Predefined Layouts</a></li>
			</ul>
			<h2 class="sg-sidebar-navigation__label">Trumps</h2>
			<ul>
				<li><a href="/base/helper-classes" >Helper Classes</a></li>
			</ul>
		</div>
	</nav>
</div>
