<div class="vgr-quick-search__item vgr-quick-search__item--photo">
  <div class="vgr-quick-search__item-img">
    <img src="{{ photo }}" width="48" height="48" alt="{{ headline }}">
  </div>
  <div class="vgr-quick-search__item-content">
    <p class="vgr-quick-search__headline">{{ headline }} <span class="vgr-quick-search__id" title="{{ vgrid }}">{{ vgridResult }}</span></p>
    <ul class="vgr-quick-search__inline-list">
      <li class="vgr-quick-search__inline-list-item">
        {% render "@icon-bestallar-id" %}
        {% if multipleBestallarid %}
          <strong>{{ multipleBestallaridText }} {{ bestallarid }}</strong>
        {% else %}
          <span class="vgr-quick-search__inline-list-title">{{ bestallarid }}:</span> <span title="{{ bestallarid }}">{{ bestallaridResult }}</span>
        {% endif %}
      </li>
      <li class="vgr-quick-search__inline-list-item">
        {% render "@icon-ansvarsnummer" %}
          {% if multipleAnsvarsnummer %}
          <strong>{{ multipleAnsvarsnummerText }} {{ ansvarsnummer }}</strong>
        {% else %}
          <span class="vgr-quick-search__inline-list-title">{{ ansvarsnummer }}:</span> <span title="{{ ansvarsnummer }}">{{ ansvarsnummerResult }}</span>
        {% endif %}
      </li>
      <li class="vgr-quick-search__inline-list-item">
        {% render "@icon-i-nummer" %}
        {% if multipleInummer %}
          <strong>{{ multipleInummerText }} {{ inummer }}</strong>
        {% else %}
          <span class="vgr-quick-search__inline-list-title">{{ inummer }}</span> <span title="{{ inummer }}">{{ inummerResult }}</span>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
