

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Success - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <em class="vgr-badge vgr-badge--success">Success badge</em>


</body>
</html>

