

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Badge - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <!-- Start: @badge--default -->
<em class="vgr-badge vgr-badge--primary">Primary badge</em>
<!-- End: @badge--default -->

<!-- Start: @badge--success -->
<em class="vgr-badge vgr-badge--success">Success badge</em>
<!-- End: @badge--success -->

<!-- Start: @badge--warning -->
<em class="vgr-badge vgr-badge--warning">Warning badge</em>
<!-- End: @badge--warning -->

<!-- Start: @badge--error -->
<em class="vgr-badge vgr-badge--error">Error badge</em>
<!-- End: @badge--error -->

<!-- Start: @badge--information -->
<em class="vgr-badge vgr-badge--info">Information badge</em>
<!-- End: @badge--information -->


</body>
</html>

