

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>List - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <div class="vgr-block vgr-block--list">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#content-paste"></use></svg>

        
        Aktuellt
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__list-container">
        <ul  class="vgr-block__list">

          
          <li class="vgr-block__list-item">
            
            <a href="/">Fåtal platser kvar!</a>
            

            
            <p>Vi har nu endast ett fåtal platser kvar på vår fina sommarkurs i silversmide. Passa på att söka!</p>
            

          </li>
          
          <li class="vgr-block__list-item">
            
            <a href="/">Sommarkurser släppta för sommaren 2017</a>
            

            
            <p>Välkommen att söka till sommarens kurser!</p>
            

          </li>
          
          <li class="vgr-block__list-item">
            
            <a href="/">Öppet hus</a>
            

            
            <p>Lördag 8 april 2017</p>
            

          </li>
          
          <li class="vgr-block__list-item">
            
            <a href="/">Ny distanskurs i textil</a>
            

            
            <p>Välkommen till distanskurs med LIN-garner på Grebbestads folkhögskola.</p>
            

          </li>
          
          <li class="vgr-block__list-item">
            
            <a href="/">Vad är en folkhögskola</a>
            

            
            <p>En film om folkhögskolan</p>
            

          </li>
          

        </ul>
      </div>
      

    </div>
  </div>


</div>


</body>
</html>

