

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Button - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <!-- Start: @button--default -->
<button class="vgr-button vgr-button--primary">Button</button>
<!-- End: @button--default -->

<!-- Start: @button--subtle -->
<button class="vgr-button vgr-button--subtle">Button</button>
<!-- End: @button--subtle -->

<!-- Start: @button--secondary -->
<button class="vgr-button vgr-button--secondary">Button</button>
<!-- End: @button--secondary -->

<!-- Start: @button--icon -->
<button class="vgr-button" type="submit">
  <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#search"></use></svg>

  Button
</button>
<!-- End: @button--icon -->

<!-- Start: @button--icon -->
<button class="vgr-button" type="submit">
  <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#search"></use></svg>

  
</button>
<!-- End: @button--icon -->


</body>
</html>

