

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <div id="cookie-consent" class="vgr-cookie-consent vgr-cookie-consent--dark">
  <div class="vgr-container">
    <div class="vgr-row">
      <div class="col-sm-8 middle-sm">
        <p class="vgr-cookie-consent__description">Vi använder cookies för att ge dig en bättre upplevelse av vår webbplats. <a href="/" class="vgr-cookie-consent__description-link">Läs mer om cookies</a>.</p>
      </div>
      <div class="col-sm-4 middle-sm end-sm">
        <button class="vgr-button">Jag förstår</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

