

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>File Type Attribute - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <!-- Start: @file-type-attribute--default -->
<div data-smart-links="true">
  
  <p><a href=".pdf">A link containing href[.pdf]</a></p>

</div>
<!-- End: @file-type-attribute--default -->

<!-- Start: @file-type-attribute--doc -->
<div data-smart-links="true">
  
  <p><a href=".doc">A link containing href[.doc]</a></p>

</div>
<!-- End: @file-type-attribute--doc -->

<!-- Start: @file-type-attribute--xls -->
<div data-smart-links="true">
  
  <p><a href=".xls">A link containing href[.xls]</a></p>

</div>
<!-- End: @file-type-attribute--xls -->

<!-- Start: @file-type-attribute--zip -->
<div data-smart-links="true">
  
  <p><a href=".zip">A link containing href[.zip]</a></p>

</div>
<!-- End: @file-type-attribute--zip -->

<!-- Start: @file-type-attribute--mailto -->
<div data-smart-links="true">
  
  <p><a href="mailto:">A link containing href[mailto:]</a></p>

</div>
<!-- End: @file-type-attribute--mailto -->

<!-- Start: @file-type-attribute--tel -->
<div data-smart-links="true">
  
  <p><a href="tel:">A link containing href[tel:]</a></p>

</div>
<!-- End: @file-type-attribute--tel -->


</body>
</html>

