

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <footer class="vgr-footer" role="contentinfo">
  <div class="vgr-container vgr-clearfix">
    <div class="vgr-row">
      
      <div class="col-md-4">
          <div class="vgr-block vgr-block--list">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        För dig som är
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>Folktandvården Västra Götaland finns i länets alla 49 kommuner och har 156 kliniker inom allmän- och specialisttandvård. Vi tar emot både vuxna och barn.</p>
      </div>
      

    </div>
  </div>


</div>

      </div>
      
      <div class="col-md-4">
          <div class="vgr-block vgr-block--teaser">
  <div class="vgr-block__container">
    
    <div class="vgr-block__image-container">
      <img class="vgr-block__image" src="../../temp/block-image.jpg" alt="Alternative text">
    </div>
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        Sök till våra kurser
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>På Grebbestads folkhögskola har vi många olika kurser att välja bland!</p>
      </div>
      

    </div>
  </div>


</div>

      </div>
      
      <div class="col-md-4">
          <div class="vgr-block vgr-block--default">
  <div class="vgr-block__container">
    
    
    <div class="vgr-block__header">
      
      <h2 class="vgr-block__header-heading">
        
            <svg class="vgr-icon vgr-icon--" ><use xlink:href="/icons/sprite/icons.svg#file-type--pdf"></use></svg>

        
        Kontakta våra kliniker
      </h2>
      

      

    </div>
    
    <div class="vgr-block__content">

      
      <div class="vgr-block__text">
        <p>Folktandvården Västra Götaland finns i länets alla 49 kommuner och har 156 kliniker inom allmän- och specialisttandvård. Vi tar emot både vuxna och barn.</p>
      </div>
      

    </div>
  </div>


</div>

      </div>
      
    </div>
  </div>
</footer>


</body>
</html>

