

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <nav class="vgr-navbar" role="navigation">
  <ul class="vgr-navbar__list vgr-o-list-bare">
    
      
      <li class="vgr-navbar__list-item">
        <a href="/" class="vgr-navbar__list-link">Hjälp</a>
      </li>
      
    
      
        <li class="vgr-navbar__list-item vgr-navbar__list-item--current">
          <a href="/" class="vgr-navbar__list-link" aria-current="page">Sparade sökningar</a>
        </li>
      
    
      
      <li class="vgr-navbar__list-item">
        <a href="/" class="vgr-navbar__list-link">Synpunkter</a>
      </li>
      
    
      
      <li class="vgr-navbar__list-item">
        <a href="/" class="vgr-navbar__list-link">Sponsra en sida</a>
      </li>
      
    
  </ul>
</nav>

</body>
</html>

