

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis ipsum neque, tincidunt tristique nunc imperdiet vel. Maecenas elementum cursus nisl, id tristique elit eleifend sed. Praesent varius lectus vel hendrerit pellentesque. Donec fermentum purus augue, sed vehicula sem imperdiet ac. Pellentesque placerat dolor quis elementum blandit. Nunc quis placerat nunc. Quisque commodo tortor ut augue volutpat, in rhoncus tellus laoreet. Pellentesque ornare lacinia libero at hendrerit. Nullam quis tellus tincidunt, tristique ante ac, interdum urna.</p>
<p>Morbi augue massa, tristique non imperdiet et, ornare ut velit. Sed placerat lacus id ipsum mattis, id placerat urna semper. Sed porta quam rutrum metus venenatis molestie. Morbi sed faucibus velit, et pulvinar tellus. Praesent laoreet mauris sed porta facilisis. In hac habitasse platea dictumst. In mattis, mi vitae interdum pellentesque, orci metus volutpat dolor, id malesuada dolor dui in mi. Fusce pharetra varius nisl vitae lobortis. Nunc mi lacus, luctus non ante in, scelerisque interdum urna. Etiam velit augue, porttitor ut finibus a, gravida quis metus.</p>


</body>
</html>

