

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <div class="vgr-primary-navigation">
  <div class="vgr-container">
    <nav role="navigation">
      <ul class="vgr-unstyled-list vgr-clearfix">
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link" data-selected>Link 1</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 2</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 3</a>
        </li>
        <li class="vgr-primary-navigation__item">
          <a href="/" class="vgr-primary-navigation__link">Link 4</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


</body>
</html>

