

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Person - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <div class="vgr-search-card vgr-search-card--panel vgr-search-card--person">
  <div class="vgr-search-card__header vgr-search-card__header--photo vgr-clearfix">

    <div class="vgr-search-card__image-holder">
      <img class="vgr-search-card__image" src="../../temp/profile-photo.png" alt="alt text" width="66" height="66">

      
        <div class="vgr-search-card__status">
          <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>Skype-status tillgänglig</title><g fill="none" fill-rule="evenodd"><circle fill="#83D746" cx="8" cy="8" r="8"/><path d="M11.704 4.077A.275.275 0 0 0 11.521 4a.27.27 0 0 0-.186.08L5.971 9.835S4.805 8.39 4.74 8.318c-.066-.07-.151-.188-.28-.188-.13 0-.19.099-.257.172-.05.058-.68.68-1.086 1.148a1.325 1.325 0 0 1-.059.067.333.333 0 0 0-.059.182c0 .07.024.128.059.183l.083.083 2.6 2.869c.068.073.151.166.272.166.118 0 .215-.138.271-.198l6.656-7.055A.335.335 0 0 0 13 5.56c0-.08-.03-.147-.07-.205l-1.226-1.28z" fill="#FFF"/></g></svg>
        </div>
      

      

      
    </div>

    <h2 class="vgr-search-card__headline">
      <a href="/">Lorem ipsum</a>
    </h2>
    
      <p class="vgr-search-card__meta">Applikationsspecialist</p>
    
    
      <p class="vgr-search-card__meta">Digitala medier & Dokumenthantering</p>
    
  </div>

  
  <div class="vgr-search-card__map">
    <img src="../../temp/map.png" alt="">
  </div>
  

  <div class="vgr-search-card__information">

    <dl class="vgr-detail-list">
      <dt class="vgr-detail-list__title">Ekonomiska uppgifter</dt>
      <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">Ansvar</span> 36692</dd>
      <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">Beställar-ID</span> 36692 12</dd>
      <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">I-nummer</span> I70210</dd>
    </dl>
  </div>

  
    <div class="vgr-search-card__folded vgr-search-card__information" id="folded-1" hiddenx>

      <dl class="vgr-detail-list">
        <dt class="vgr-detail-list__title">Kontaktuppgifter</dt>
        <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">E-postadress</span> <a class="vgr-detail-list__link" href="/">evelyn.stolfer@vgregion.se</a></dd>
        <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">Telefon</span> 010 - 473 75 77</dd>
        <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">Mobiltelefon</span> 0702 - 96 67 99</dd>
        <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">Växeltelefon</span> <a class="vgr-detail-list__link" href="/">0500 -620 00</a></dd>
        <dd class="vgr-detail-list__item"><span class="vgr-detail-list__label">Faxnummer</span> 0500 -620 65</dd>
      </dl>

      <div class="vgr-address-list">
        <div class="vgr-address-list-inner">
          <p class="vgr-link-list__heading">Adresser</p>
          <ul class="vgr-address-list-container vgr-unstyled-list">
            <li class="vgr-address-list-item">
              <div>
                Postadress<br>
                Regionkansliet<br>
                Residenset, Torget<br>
                462 80 Vänersborg<br>
              </div>
            </li>
            <li class="vgr-address-list-item">
              <div>
                Postadress<br>
                Regionkansliet<br>
                Residenset, Torget<br>
                462 80 Vänersborg<br>
              </div>
            </li>
            <li class="vgr-address-list-item">
              <div>
                Postadress<br>
                Regionkansliet<br>
                Residenset, Torget<br>
                462 80 Vänersborg<br>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <p class="vgr-link-list__heading">Organisation</p>
      <ul class="vgr-link-list vgr-unstyled-list">
        <li class="vgr-link-list__item"><a class="vgr-link-list__link" href="/">Regiondirektören</a></li>
        <li class="vgr-link-list__item"><a class="vgr-link-list__link" href="/">Koncernkontoret</a></li>
        <li class="vgr-link-list__item"><a class="vgr-link-list__link" href="/">Regionstyrelsen</a></li>
      </ul>

      <p class="vgr-link-list__heading">Arbetsidentifkation</p>
      <ul class="vgr-link-list vgr-unstyled-list">
        <li class="vgr-link-list__item"><a class="vgr-link-list__link" href="/">Ledning, administration</a></li>
      </ul>

      <p class="vgr-link-list__heading">Primär anställning</p>
      <ul class="vgr-link-list vgr-unstyled-list">
        <li class="vgr-link-list__item"><a class="vgr-link-list__link" href="/">Automatisk vald</a></li>
      </ul>
    </div>

    <button class="vgr-search-card__expand-button" aria-controls="folded-1" aria-expanded="true">
    <svg width="10" height="6" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg"><path d="M8.418.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0L.601 1.828a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L5 4 8.418.859z" fill="#5B5B5B" fill-rule="evenodd"/></svg>
    Fler kontaktuppgifter</button>
  
</div>


</body>
</html>

