

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <div class="vgr-search-card">
  <h2 class="vgr-search-card__headline">
    <a href="/">Lorem ipsum</a>
  </h2>
  <time class="vgr-search-card__date" datetime="2015-08-19">19 augusti 2015</time> -
  <p class="vgr-search-card__source">Västra Götalandsregionen</p>
  <p class="vgr-search-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet tristique erat a tincidunt. Morbi eleifend augue sit amet nunc vulputate finibus…</p>
</div>


</body>
</html>

