

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <div class="vgr-visually-hidden">hej</div>

<p id="" class="vgr-visually-hidden"></p>
<ol class="vgr-pagination" aria-labelledby="">

    <li class="pagination__item">
        <form action="/ftv-webbtidsbokning/AvailableAppointments/" method="get">
            <input name="index" type="hidden" value="0">
            <button aria-label="Föregående sida" class="vgr-button vgr-button--subtle" type="submit" disabled="">Föregående</button>
        </form>
    </li>

    <li class="pagination__item pagination__item--num">
        <form action="/ftv-webbtidsbokning/AvailableAppointments/" class="display-flex pagination__form" method="get">
            <label for="pagination_numinput" class="pagination__text">Sida</label>
            <input id="pagination_numinput" name="index" class="vgr-form__input pagination__numinput" type="number" min="1" max="17" value="1">
            <button aria-label="Gå till vald sida" class="vgr-button vgr-button--subtle" type="submit">Gå</button>
            <div class="pagination__text">
                av <i>17</i>
            </div>
        </form>
    </li>

    <li class="pagination__item">
        <form action="/ftv-webbtidsbokning/AvailableAppointments/" method="get">
            <input name="index" type="hidden" value="2">
            <button aria-label="Nästa sida" class="vgr-button vgr-button--subtle" type="submit">Nästa</button>
        </form>
    </li>

</ol>

</body>
</html>

