

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Lined - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <table class="vgr-table vgr-table--lined">
  <caption>Barninfektioner och vaccinationer</caption>
  <thead>
    <tr>
      <th scope="col">Diagnos</th>
      <th scope="col">2011</th>
      <th scope="col">2012</th>
      <th scope="col">2013</th>
      <th scope="col">2014</th>
      <th scope="col">2015</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Difteri</th>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row">Grupp A streptokocker (IGAS) invasiva</th>
      <td>65</td>
      <td>86</td>
      <td>119</td>
      <td>100</td>
      <td>89</td>
    </tr>
    <tr>
      <th scope="row">Haemophilus influenzae B invasiv</th>
      <td>42</td>
      <td>24</td>
      <td>34</td>
      <td>24</td>
      <td>47</td>
    </tr>
    <tr>
      <th scope="row">Kikhosta</th>
      <td>15</td>
      <td>38</td>
      <td>29</td>
      <td>65</td>
      <td>91</td>
    </tr>
    <tr>
      <th scope="row">Meningokockinfektion</th>
      <td>6</td>
      <td>19</td>
      <td>13</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row">Mässling</th>
      <td>4</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">Pneumokocker invasiv</th>
      <td>208</td>
      <td>198</td>
      <td>198</td>
      <td>171</td>
      <td>193</td>
    </tr>
    <tr>
      <th scope="row">Påssjuka</th>
      <td>6</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
    </tr>
  </tbody>
</table>


</body>
</html>

