

<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default - VGR Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/main.js" defer=""></script>
  <link rel="mask-icon" href="../../mask-icon.svg" color="#990000">
</head>
<body>

  <p id="wizardlabel" class="vgr-visually-hidden">Du är här:</p>
<ol class="vgr-wizardstep" aria-labelledby="wizardlabel">
  
    
    <li class="vgr-wizardstep__item" aria-label="Avklarat steg:">
      <a href="/">Sök tid</a>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--active" aria-label="Nuvarande steg">
      <div>Välj tid</div>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--inactive">
      <div>Personuppgifter</div>
    </li>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--inactive">
      <div>Kontrollera</div>
    </li>
    
  
    
    <li class="vgr-wizardstep__item vgr-wizardstep__item--inactive">
      <div>Bekräftelse</div>
    </li>
    
  
</ol>

</body>
</html>

